<div class="col-md-12 service-grids">
	<img src="images/image4.jpg" style="min-width: 100%" class="img-responsive wow slideInLeft" data-wow-duration="0.1s" data-wow-delay="0.1s" alt="">
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="text-center">
				<h1  class="title">Certificate Program In Customer Service Management (CPCSM)</h1>
			</div>
		</div>
	</div>
</div>
<br>
<div class="container">
<div ng-cloak>
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="OVERVIEW">
        <md-content class="md-padding">
          
                           
                        <div id="tab-content4" class="tab-content">
                            <h3>Overview</h3>
                            <p>
                                Customer interaction has assumed a far greater role in digitally connected world. The volume of customer interactions for a modern organization has risen to an unprecedented number. It is now critical for a firm to streamline the way customer interactions are carried out and train the personnel in effective customer service to derive maximum customer lifetime value.
                                <br>
                                This pioneering program from one of leading B-Schools in India; IIM Rohtak, provides unique opportunity to firms as well as executives and job seekers. The program caters to very specific function and aims to allay the challenges customer facing executives face. The benefits of the program are:
                                </p><ul class="list-1">
                                    <li>Teaching through real life scenarios</li>
                                    <li>Very targeted and carefully selected curriculum</li>
                                    <li>No other program for the particular target from any premier B-School</li>
                                    <li>Participants get an edge in very crowded and competitive space</li>
                                </ul>
                            <p></p>
                            <h3>Program Objective</h3>
                            <p>
                                </p><ul class="list-1">
                                    <li>Premium certification from one of the leading B-Schools in India</li>
                                    <li>Teaching through real life scenarios and case studies</li>
                                    <li>Prepare participants for increasingly demanding customer service landscape</li>
                                </ul>
                            <p></p>
                            <h3>Eligibility</h3>
                            <p>
                                </p><ul class="list-1">
                                    <li>Graduates (10+2+3) / Post Graduates in any discipline with min. 50% marks [aggregate - considering results of all years (e.g. 3 or 4 together)] recognized by UGC/AICTE.</li>
                                    <li>Maximum 5 years of work experience</li>
                                </ul>
                            <p></p>
                            <h3>Selection Criteria</h3>
                            <p>
                                </p><ul class="list-1">
                                    <li>Retail Applications + credentials and Corporate Nominations</li>
                                    <li>Selection will be: i)&nbsp;<strike> Highly Selective&nbsp;</strike>&nbsp; ii)&nbsp;<strike> Selective </strike>&nbsp;iii) Moderate</li>
                                </ul>
                            <p></p>
                            <a href="IIMRohtak.html#CPCSM" class="social-list">Certificate Program In Customer Service Management</a>
                            <br>
                        </div>      </md-content>
      </md-tab>
      <md-tab label="PROGRAM FEES">
        <md-content class="md-padding">                         
                         <div id="tab-content5" class="tab-content">
                            <h3>Program Fees</h3>
                            <table width="50%" class="table-border-1">
                                <tbody><tr align="center" class="heading-1">
                                    <td colspan="2">For Indian Students</td>
                                </tr>
                                <tr align="center">
                                    <td>Application Fee</td>
                                    <td>INR 2,300/- (inclusive of S.Tax)</td>
                                </tr>
                                <tr align="center">
                                    <td>Program Fee</td>
                                    <td>INR 32,000/- + Service Tax</td>
                                </tr>
                                <tr align="center">
                                    <td>Courseware/Study Material Fee</td>
                                    <td>INR 1,500/- + Service Tax</td>
                                </tr>
                                <tr align="center">
                                    <td>Total Fee</td>
                                    <td>INR 33,150/- (without Application Fee)</td>
                                </tr>
                            </tbody></table>
                            <p>* Service tax will be charged at prevailing rates (currently 15%).</p>
                            <h3>Important Dates</h3>
                            <table width="50%" class="table-border-1">
                                <tbody><tr align="center">
                                    <td>Last date of application</td>
                                    <td>18th October, 2016</td>
                                </tr>
                                <tr align="center">
                                    <td>Last Date for Payment of Fees</td>
                                    <td>14th November, 2016</td>
                                </tr>
                                <tr align="center">
                                    <td>Academic Briefing</td>
                                    <td>TBD</td>
                                </tr>
                                <tr align="center">
                                    <td>Class Start Date</td>
                                    <td>15th November, 2016</td>
                                </tr>
                            </tbody></table>
                            <h3>Installment Details</h3>
                            <table width="50%" class="table-border-1">
                                <tbody><tr align="center" class="heading-1">
                                    <td>Installment</td>
                                    <td>Date</td>
                                    <td>Amount INR</td>
                                    <td>Amount USD</td>
                                </tr>
                                <tr align="center">
                                    <td>1st Installment</td>
                                    <td>14th Nov 2016</td>
                                    <td>INR 17,500/- + S.Tax</td>
                                    <td></td>
                                </tr>
                                <tr align="center">
                                    <td>2nd Installment</td>
                                    <td>14th Dec 2016</td>
                                    <td>INR 16,000/- + S.Tax</td>
                                    <td></td>
                                </tr>
                            </tbody></table>
                            <a href="IIMRohtak.html#CPCSM" class="social-list">Certificate Program In Customer Service Management</a>
                            <br>
                        </div>
        </md-content>
      </md-tab>
      <md-tab label="PROGRAM DETAILS">
        <md-content class="md-padding">
       <div id="tab-content6" class="tab-content">
                            <h3>Program Details</h3>
                            <table width="50%" class="table-border-1">
                                <tbody><tr align="center">
                                    <td rowspan="2" valign="middle">CSM Overview</td>
                                    <td>Understanding CSM</td>
                                </tr>
                                <tr align="center"><td>Impact, Customer Lifetime value</td></tr>
                                <tr align="center">
                                    <td rowspan="4" valign="middle">Managing customers</td>
                                    <td>Portfolio</td>
                                </tr>
                                <tr align="center"><td>CLV management</td></tr>
                                <tr align="center"><td>Customer profitability</td></tr>
                                <tr align="center"><td>Loyalty programs</td></tr>
                                <tr align="center">
                                    <td rowspan="2" valign="middle">Customer lifecycle</td>
                                    <td>Acquisition</td>
                                </tr>
                                <tr align="center"><td>Retention</td></tr>
                                <tr align="center">
                                    <td rowspan="1" valign="middle">B2C customers</td>
                                    <td></td>
                                </tr>
                                <tr align="center">
                                    <td rowspan="2" valign="middle">Customer Satisfaction</td>
                                    <td>Concepts and metrics</td>
                                </tr>
                                <tr align="center"><td>Building trust</td></tr>
                                <tr align="center">
                                    <td rowspan="1" valign="middle">Communication</td>
                                    <td>Managing Interactions</td>
                                </tr>
                                <tr align="center">
                                    <td rowspan="1" valign="middle">Managing Grievance/complaint</td>
                                    <td></td>
                                </tr>
                                <tr align="center">
                                    <td rowspan="1" valign="middle">Pricing fundamentals</td>
                                    <td>Price, Costing, Margins</td>
                                </tr>
                                <tr align="center">
                                    <td rowspan="1" valign="middle">Leveraging Customer relationships</td>
                                    <td>Delighting customers</td>
                                </tr>
                                <tr align="center">
                                    <td rowspan="1" valign="middle">OB/HR</td>
                                    <td>Team building, motivation</td>
                                </tr>
                            </tbody></table>
                            <h3>Pedagogy</h3>
                            <p>
                                </p><ul class="list-1">
                                    <li>Theory &amp; Practical Inputs</li>
                                    <li>Case study approach.</li>
                                    <li>Assignments, E-Learning, &amp; Business Simulation</li>
                                </ul>
                            <p></p>
                            <a href="IIMRohtak.html#CPCSM" class="social-list">Certificate Program In Customer Service Management</a>
                            <br>
                        </div>
                        
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>
</div>