<div class="col-md-12 service-grids">
	<img src="images/image4.jpg" style="min-width: 100%" class="img-responsive wow slideInLeft" data-wow-duration="0.1s" data-wow-delay="0.1s" alt="">
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="text-center">
				<h1  class="title">Certificate Program In Human Resources Development (CPHRD)</h1>
			</div>
		</div>
	</div>
</div>
<br>
<div class="container">
<div ng-cloak>
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="OVERVIEW">
        <md-content class="md-padding">
          
                           
                          <div id="tab-content7" class="tab-content">
                            <h3>Overview</h3>
                            <p>
                                The dynamic global economy demands constant changes in organizations to cope with the changes taking place across the globe. Organizations continuously make attempts to develop employees to cope with the changes because changes in employee skills, and abilities and attitudes are critical for organizational success. Organizations establish human resource development (HRD) departments and initiative various HRD activities to enhance their employed competencies and commitment.
                                <br><br>
                                In this background, this programme aims at providing basic knowledge and better understanding of HRD theory and practices for HR/HRD professionals and line managers who are associated with HRD activities in their respective organizations.
                            </p>
                            <h3>Program Objective</h3>
                            <p>
                                Premier certification from XLRI Jamshedpur<br>
                                Career Enhancement
                            </p>
                            <h3>Core Value</h3>
                            <p>
                                </p><ul class="list-1">
                                    <li>Recognized certification coming from a reputed institute like XLRI</li>
                                    <li>XLRI is among the top 10 Indian B-schools &amp; a pioneer in starting the program of this kind not only in India but in Asia-Pacific. Course content and structure designed entirely by XLRI</li>
                                    <li>One of the most rigorous and quality online programs in the country in management</li>
                                    <li>Specifically designed for working executives with all the flexibility benefits of Interactive Onsite Learning.</li>
                                    <li>Lectures imparted by eminent faculty from XLRI and Industry experts.</li>
                                    <li>Virtual Live program with real time experience.</li>
                                    <li>In case of absenteeism. Student can request for an archive of the session.</li>
                                    <li>Seamless technology that can transmit lecture videos effectively at high speed home broadband connection.</li>
                                    <li>No complicated hardware or software installations required.</li>
                                </ul>
                            <p></p>
                            <h3>Eligibility</h3>
                            <p>
                                Applicants should be working professionals/self-employed. <br>
                                Graduates (10+2+3), Diploma holders (10+2+3) in any discipline <br>
                                Minimum 2 years of work experience, full time paid employment post completion of Diploma / Graduation as on application closure date.
                            </p>
                            <h3>Class Schedule</h3>
                            <p>
                                Thursday 6:45 PM – 9:45 PM
                            </p>
                            <h3>Duration</h3>
                            <p>
                                6 Months
                            </p>
                            <h3>Selection Criteria</h3>
                            <p>
                                Retail Applications + credentials and Corporate Nominations from Multiple Corporate <br>
                                Applicants will be selected based on their profile &amp; work exposure <br>
                                Selection will be Moderate
                            </p>
                            <h3>Certification</h3>
                            <p>
                                XLRI Jamshedpur shall carry out the examination and evaluation required for certification. XLRI will directly award a certificate of completion to participants who complete the programme successfully. Giving feedback is an integral part of the completion requirements of the programme.
                            </p>
                            <a href="XLRIJamshedpur.html#CPHRD" class="social-list">Certificate Program In Human Resources Development</a>
                            <br>
                        </div>
        </md-content>
      </md-tab>
      <md-tab label="PROGRAM FEES">
        <md-content class="md-padding">                         
                         <div id="tab-content8" class="tab-content">
                            <h3>Program Fees</h3>
                            <table width="50%" class="table-border-1">
                                <tbody><tr align="center">
                                    <td>Application Fee</td>
                                    <td>INR 2,000/- + service tax</td>
                                </tr>
                                <tr align="center">
                                    <td>Program Fee</td>
                                    <td>INR 75,000/- + service tax</td>
                                </tr>
                                <tr align="center">
                                    <td>Registration Fee</td>
                                    <td>INR NIL</td>
                                </tr>
                                <tr align="center">
                                    <td>Campus Fee</td>
                                    <td>INR NIL</td>
                                </tr>
                            </tbody></table>
                            <p>
                                Current prevailing Service Tax &amp; cess rate of 15%  is additional on these components. Any variation in the service tax rate shall be to student account.
                            </p>
                            <h3>Important Dates</h3>
                            <table width="50%" class="table-border-1">
                                <tbody><tr align="center">
                                    <td>Last date of application</td>
                                    <td>31st Jan, 2017</td>
                                </tr>
                                <tr align="center">
                                    <td>Final List</td>
                                    <td>5th Feb, 2017</td>
                                </tr>
                                <tr align="center">
                                    <td>Last Date for Payment of 1st installment</td>
                                    <td>2nd Feb, 2017</td>
                                </tr>
                                <tr align="center">
                                    <td>Orientation and Briefing</td>
                                    <td>7th Feb, 2016</td>
                                </tr>
                                <tr align="center">
                                    <td>Class Start Date</td>
                                    <td>TBD</td>
                                </tr>
                            </tbody></table>
                            <h3>Installment Schedule</h3>
                            <table width="50%" class="table-border-1">
                                <tbody><tr align="center" class="heading-1">
                                    <td>Installment</td>
                                    <td>Date</td>
                                    <td>INR</td>
                                </tr>
                                <tr align="center">
                                    <td>1st Installment</td>
                                    <td>2nd February 2017</td>
                                    <td>INR 42,000/- + S.Tax</td>
                                </tr>
                                <tr align="center">
                                    <td>2nd Installment</td>
                                    <td>2nd April 2017</td>
                                    <td>INR 35,000/- + S.Tax</td>
                                </tr>
                            </tbody></table>
                            <a href="XLRIJamshedpur.html#CPHRD" class="social-list">Certificate Program In Human Resources Development</a>
                            <br>
                        </div>
        </md-content>
      </md-tab>
      <md-tab label="PROGRAM DETAILS">
        <md-content class="md-padding">
        <div id="tab-content9" class="tab-content">
                            <h3>Program Details</h3>
                            <ul class="list-1">
                                <li>HRM and HRD</li>
                                <li>HRD and Line managers</li>
                                <li>Integrated HRD system</li>
                                <li>Strategic HRD</li>
                                <li>HRD Professionals: Competencies and roles</li>
                                <li>HRD through Learning and development</li>
                                <li>Assessing Learning Needs</li>
                                <li>Designing training and development programs</li>
                                <li>Learning styles</li>
                                <li>Learning environment</li>
                                <li>Measuring training effectiveness</li>
                                <li>ROI process model</li>
                                <li>Performance management</li>
                                <li>HRD through performance coaching and counselling.</li>
                                <li>HRD through career planning and development.</li>
                                <li>Building healthy culture in organization</li>
                            </ul>
                            <h3>Pedagogy</h3>
                            <p>
                                The primary method of instruction will be through LIVE lectures that will be beamed online via internet to student desktops/laptops. The lectures will be delivered by eminent faculty from XLRI.
                                <br><br>
                                All participants will also be granted 24X7 access to XLRI’s AIS comprising of learning aids, study materials, reference materials, assessments, case studies and assignments etc. as per the requirement of the programme. Students can chat real time with the professors during the live class and also connect with HGEIL program manager related to their queries offline on the AIS.
                                <br><br>
                                The pedagogy will be highly interactive. It will leverage use of technology. It will consist of a judicious blend of lectures, real life case studies, quizzes and assignments.
                            </p>
                            <a href="XLRIJamshedpur.html#CPHRD" class="social-list">Certificate Program In Human Resources Development</a>
                            <br>
                        </div>
                        
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>
</div>