<div class="col-md-12 service-grids">
	<img src="images/image4.jpg" style="min-width: 100%" class="img-responsive wow slideInLeft" data-wow-duration="0.1s" data-wow-delay="0.1s" alt="">
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="text-center">
				<h1  class="title">Certificate Program In Retail Supply Chain And Service Management (CPRSCSM)</h1>
			</div>
		</div>
	</div>
</div>
<br>
<div class="container">
<div ng-cloak>
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="OVERVIEW">
        <md-content class="md-padding">
          
                           
                       <div id="tab-content7" class="tab-content">
                            <h3>Overview</h3>
                            <p>
                                Thanks to booming e-commerce landscape in India, Retail Supply Chain and logistics has emerged as one of the most in demand function. With the increased demand also come new challenges of rapidly changing industry dynamics. Firms as well as professionals need to keep abreast of new developments in technology and business.
                                <br>
                                Certificate Program in Retail Supply Chain and Service Management is aimed at providing business knowhow of Supply Chains, Logistics and Retail Services. The program has been designed keeping in mind the day to day challenges of executives in the function and enabling their holistic understanding of business environment. The unique benefits of the program are:
                                </p><ul class="list-1">
                                    <li>Very specific course curriculum</li>
                                    <li>Real life scenarios, case studies and simulations</li>
                                    <li>In depth understanding of new concepts in Retail Supply Chain</li>
                                </ul>
                            <p></p>
                            <h3>Program Objective</h3>
                            <p>
                                </p><ul class="list-1">
                                    <li>Premium certification from one of the leading B-Schools in India</li>
                                    <li>Teaching through real life scenarios and case studies</li>
                                    <li>Prepare participants for increasingly demanding customer service landscape</li>
                                </ul>
                            <p></p>
                            <h3>Eligibility</h3>
                            <p>
                                </p><ul class="list-1">
                                    <li>Graduates (10+2+3) / Post Graduates in any discipline with min. 50% marks [aggregate - considering results of all years (e.g. 3 or 4 together)] recognized by UGC/AICTE.</li>
                                    <li>Maximum 5 years of work experience</li>
                                </ul>
                            <p></p>
                            <h3>Selection Criteria</h3>
                            <p>
                                </p><ul class="list-1">
                                    <li>Retail Applications + credentials and Corporate Nominations</li>
                                    <li>Selection will be: i)&nbsp;<strike> Highly Selective&nbsp;</strike>&nbsp; ii)&nbsp;<strike> Selective </strike>&nbsp;iii) Moderate</li>
                                </ul>
                            <p></p>
                            <a href="IIMRohtak.html#CPRSCSM" class="social-list">Certificate Program In Retail Supply Chain And Service Management</a>
                            <br>
                        </div>      </md-content>
      </md-tab>
      <md-tab label="PROGRAM FEES">
        <md-content class="md-padding">                         
                        <div id="tab-content8" class="tab-content">
                            <h3>Program Fees</h3>
                            <table width="50%" class="table-border-1">
                                <tbody><tr align="center" class="heading-1">
                                    <td colspan="2">For Indian Students</td>
                                </tr>
                                <tr align="center">
                                    <td>Application Fee</td>
                                    <td>INR 2,300/- (inclusive of S.Tax)</td>
                                </tr>
                                <tr align="center">
                                    <td>Program Fee</td>
                                    <td>INR 32,000/- + Service Tax</td>
                                </tr>
                                <tr align="center">
                                    <td>Courseware/Study Material Fee</td>
                                    <td>INR 1,500/- + Service Tax</td>
                                </tr>
                                <tr align="center">
                                    <td>Total Fee</td>
                                    <td>INR 33,150/- (without Application Fee)</td>
                                </tr>
                            </tbody></table>
                            <p>* Service tax will be charged at prevailing rates (currently 15%).</p>
                            <h3>Important Dates</h3>
                            <table width="50%" class="table-border-1">
                                <tbody><tr align="center">
                                    <td>Last date of application</td>
                                    <td>18th October, 2016</td>
                                </tr>
                                <tr align="center">
                                    <td>Last Date for Payment of Fees</td>
                                    <td>14th November, 2016</td>
                                </tr>
                                <tr align="center">
                                    <td>Academic Briefing</td>
                                    <td>TBD</td>
                                </tr>
                                <tr align="center">
                                    <td>Class Start Date</td>
                                    <td>15th November, 2016</td>
                                </tr>
                            </tbody></table>
                            <h3>Installment Details</h3>
                            <table width="50%" class="table-border-1">
                                <tbody><tr align="center" class="heading-1">
                                    <td>Installment</td>
                                    <td>Date</td>
                                    <td>Amount INR</td>
                                    <td>Amount USD</td>
                                </tr>
                                <tr align="center">
                                    <td>1st Installment</td>
                                    <td>14th Nov 2016</td>
                                    <td>INR 17,500/- + S.Tax</td>
                                    <td></td>
                                </tr>
                                <tr align="center">
                                    <td>2nd Installment</td>
                                    <td>14th Dec 2016</td>
                                    <td>INR 16,000/- + S.Tax</td>
                                    <td></td>
                                </tr>
                            </tbody></table>
                            <a href="IIMRohtak.html#CPRSCSM" class="social-list">Certificate Program In Retail Supply Chain And Service Management</a>
                            <br>
                        </div>
        </md-content>
      </md-tab>
      <md-tab label="PROGRAM DETAILS">
        <md-content class="md-padding">
       <div id="tab-content9" class="tab-content">
                            <h3>Course Content</h3>
                            <table width="80%" class="table-border-1">
                                <tbody><tr align="center">
                                    <td rowspan="2" valign="middle">Understanding Supply Chain</td>
                                    <td>SCM basics and overview</td>
                                </tr>
                                <tr align="center"><td>Role of logistics in SCM</td></tr>
                                <tr align="center">
                                    <td rowspan="2" valign="middle">Business Environment</td>
                                    <td>Current trends in logistics</td>
                                </tr>
                                <tr align="center"><td>Current business environment</td></tr>
                                <tr align="center">
                                    <td rowspan="2" valign="middle">Warehousing and inventory management</td>
                                    <td>Warehousing techniques</td>
                                </tr>
                                <tr align="center"><td>Inventory management- LIFO/FIFO/Shelf mgmt</td></tr>
                                <tr align="center">
                                    <td rowspan="1" valign="middle">3pl and 4pl logistics</td>
                                    <td>3rd Party/ 4th Part logistics</td>
                                </tr>
                                <tr align="center">
                                    <td rowspan="3" valign="middle">Quality Management</td>
                                    <td>Service quality</td>
                                </tr>
                                <tr align="center"><td>Logistics benchmark</td></tr>
                                <tr align="center"><td>Bottlenecks</td></tr>
                                <tr align="center">
                                    <td rowspan="2" valign="middle">Distribution strategies</td>
                                    <td>Distribution in Retail</td>
                                </tr>
                                <tr align="center"><td>Distribution in e commerce</td></tr>
                                <tr align="center">
                                    <td rowspan="2" valign="middle">Technology in Logistics</td>
                                    <td>ERP</td>
                                </tr>
                                <tr align="center"><td>Tracking</td></tr>
                                <tr align="center">
                                    <td rowspan="2" valign="middle">Last mile delivery</td>
                                    <td>Optimizing delivery operations</td>
                                </tr>
                                <tr align="center"><td>Inwards and return logistics</td></tr>
                                <tr align="center">
                                    <td rowspan="2" valign="middle">Optimizing supply chain</td>
                                    <td>Efficient supply chains</td>
                                </tr>
                                <tr align="center"><td>Effective supply chains</td></tr>
                                <tr align="center">
                                    <td rowspan="1" valign="middle">Data analytics</td>
                                    <td>Basics of spreadsheets operations</td>
                                </tr>
                                <tr align="center">
                                    <td rowspan="2" valign="middle">Segmentation/Target/Positioning</td>
                                    <td>Segmentation/Targeting</td>
                                </tr>
                                <tr align="center"><td>Positioning Retail stores</td></tr>
                            </tbody></table>
                            <h3>Pedagogy</h3>
                            <p>
                                </p><ul class="list-1">
                                    <li>Theory &amp; Practical Inputs</li>
                                    <li>Case study approach.</li>
                                    <li>Assignments, E-Learning, &amp; Business Simulation</li>
                                </ul>
                            <p></p>
                            <a href="IIMRohtak.html#CPRSCSM" class="social-list">Certificate Program In Retail Supply Chain And Service Management</a>
                            <br>
                        </div>
                        
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>
</div>