<div class="col-md-12 service-grids">
	<img src="images/image4.jpg" style="min-width: 100%" class="img-responsive wow slideInLeft" data-wow-duration="0.1s" data-wow-delay="0.1s" alt="">
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="text-center">
				<h1  class="title">Certificate Program In Consumer Sales Management (CSM)</h1>
			</div>
		</div>
	</div>
</div>
<br>
<div class="container">
<div ng-cloak>
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="OVERVIEW">
        <md-content class="md-padding">
          
                           
                      <div id="tab-content10" class="tab-content">
                            <h3>Overview</h3>
                            <p>
                                Qualified and competent sales professionals are always in demand. Organizations of any nature require a trained sales force and invest heavily in sales training. In ever changing business dynamics, sales as a function also requires much more than basic understanding of sales concepts. A competent sales professional now needs to be well versed in business fundamentals to be more efficient and to be ready to take more challenging responsibilities.
                                <br>
                                Certificate Program in Direct Sales Management is designed keeping such requirements in mind. It is a unique program offering specialized sales specific curriculum suitable for B2B sales and Channel sales professionals. The program offers:
                                </p><ul class="list-1">
                                    <li>Condensed curriculum focusing on sales</li>
                                    <li>Case studies from real life scenarios</li>
                                    <li>Management fundamentals enabling participants to be more versatile sales professionals</li>
                                    <li>Opportunity to learn from renowned faculty</li>
                                </ul>
                            <p></p>
                            <h3>Program Objective</h3>
                            <p>
                                </p><ul class="list-1">
                                    <li>Premium certification from one of the leading B-Schools in India</li>
                                    <li>Teaching through real life scenarios and case studies</li>
                                    <li>Prepare participants for increasingly demanding customer service landscape</li>
                                </ul>
                            <p></p>
                            <h3>Eligibility</h3>
                            <p>
                                </p><ul class="list-1">
                                    <li>Graduates (10+2+3) / Post Graduates in any discipline with min. 50% marks [aggregate - considering results of all years (e.g. 3 or 4 together)] recognized by UGC/AICTE.</li>
                                    <li>Maximum 5 years of work experience</li>
                                </ul>
                            <p></p>
                            <h3>Selection Criteria</h3>
                            <p>
                                </p><ul class="list-1">
                                    <li>Retail Applications + credentials and Corporate Nominations</li>
                                    <li>Selection will be: i)&nbsp;<strike> Highly Selective&nbsp;</strike>&nbsp; ii)&nbsp;<strike> Selective </strike>&nbsp;iii) Moderate</li>
                                </ul>
                            <p></p>
                            <a href="IIMRohtak.html#CSM" class="social-list">Certificate Program In Consumer Sales Management</a>
                            <br>
                        </div>
                             </md-content>
      </md-tab>
      <md-tab label="PROGRAM FEES">
        <md-content class="md-padding">                         
                        <div id="tab-content11" class="tab-content">
                            <h3>Program Fees</h3>
                            <table width="50%" class="table-border-1">
                                <tbody><tr align="center" class="heading-1">
                                    <td colspan="2">For Indian Students</td>
                                </tr>
                                <tr align="center">
                                    <td>Application Fee</td>
                                    <td>INR 2,300/- (inclusive of S.Tax)</td>
                                </tr>
                                <tr align="center">
                                    <td>Program Fee</td>
                                    <td>INR 32,000/- + Service Tax</td>
                                </tr>
                                <tr align="center">
                                    <td>Courseware/Study Material Fee</td>
                                    <td>INR 1,500/- + Service Tax</td>
                                </tr>
                                <tr align="center">
                                    <td>Total Fee</td>
                                    <td>INR 33,150/- (without Application Fee)</td>
                                </tr>
                            </tbody></table>
                            <p>* Service tax will be charged at prevailing rates (currently 15%).</p>
                            <h3>Important Dates</h3>
                            <table width="50%" class="table-border-1">
                                <tbody><tr align="center">
                                    <td>Last date of application</td>
                                    <td>18th October, 2016</td>
                                </tr>
                                <tr align="center">
                                    <td>Last Date for Payment of Fees</td>
                                    <td>14th November, 2016</td>
                                </tr>
                                <tr align="center">
                                    <td>Academic Briefing</td>
                                    <td>TBD</td>
                                </tr>
                                <tr align="center">
                                    <td>Class Start Date</td>
                                    <td>15th November, 2016</td>
                                </tr>
                            </tbody></table>
                            <h3>Installment Details</h3>
                            <table width="50%" class="table-border-1">
                                <tbody><tr align="center" class="heading-1">
                                    <td>Installment</td>
                                    <td>Date</td>
                                    <td>Amount INR</td>
                                    <td>Amount USD</td>
                                </tr>
                                <tr align="center">
                                    <td>1st Installment</td>
                                    <td>14th Nov 2016</td>
                                    <td>INR 17,500/- + S.Tax</td>
                                    <td></td>
                                </tr>
                                <tr align="center">
                                    <td>2nd Installment</td>
                                    <td>14th Dec 2016</td>
                                    <td>INR 16,000/- + S.Tax</td>
                                    <td></td>
                                </tr>
                            </tbody></table>
                            <a href="IIMRohtak.html#CSM" class="social-list">Certificate Program In Consumer Sales Management</a>
                            <br>
                        </div>
        </md-content>
      </md-tab>
      <md-tab label="PROGRAM DETAILS">
        <md-content class="md-padding">
       <div id="tab-content12" class="tab-content">
                            <h3>Program Details</h3>
                            <ul class="list-1">
                                <li>Management Fundamentals</li>
                                <li>Communicating with customers</li>
                                <li>Dynamics of Customer Relationship</li>
                                <li>Sales planning and processes</li>
                                <li>Consumer Behavior</li>
                                <li>B2B sales and marketing</li>
                                <li>Service marketing</li>
                                <li>Interpersonal communication</li>
                                <li>Sales and distribution</li>
                                <li>Costing- Price, margins</li>
                            </ul>
                            <h3>Pedagogy</h3>
                            <p>
                                </p><ul class="list-1">
                                    <li>Theory &amp; Practical Inputs</li>
                                    <li>Case study approach.</li>
                                    <li>Assignments, E-Learning, &amp; Business Simulation</li>
                                </ul>
                            <p></p>
                            <a href="IIMRohtak.html#CSM" class="social-list">Certificate Program In Consumer Sales Management</a>
                            <br>
                        </div>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>
</div>