<div class="col-md-12 service-grids">
	<img src="images/image4.jpg" style="min-width: 100%" class="img-responsive wow slideInLeft" data-wow-duration="0.1s" data-wow-delay="0.1s" alt="">
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="text-center">
				<h1  class="title">Executive Program in Business Management</h1>
			</div>
		</div>
	</div>
</div>
<br>
<div class="container">
<div ng-cloak>
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="OVERVIEW">
        <md-content class="md-padding">
          
                            <h2>Overview</h2>
                            <p>
                                As the world advances into the twenty - first century, managers face different types of challenge due to globalization of business and economy. Salient changes  witnessed are the deregulation and liberalization of economies, changing industry structures, mergers, acquisitions &amp; alliance formations to sustain growth, privatization, technological advances, changes in the consumer preferences and life-style, and emergence of new forms of organization &amp; management practices.
                                <br>
                                In an era of continuous changes, managers need to equip themselves with new skills and resources needed to manage their enterprises in the midst of a turbulent environment. These skills will help the managers to assume greater responsibilities through career advancement based on knowledge, skills and competence.
                                <br>
                                The Executive Programme in Business Management is designed to provide managers and professionals with a broad overview of the key concepts, tools and techniques needed to successfully meet the challenges of today’s global business environment. Individual courses will give participants the knowledge needed to work cross-functionally within the organization and become more skilled in the basics of business management.
                            </p>
                            <h2>Programme USP</h2>
                            <p>
                                The objective of the Executive Post Graduate Certificate in Marketing Management (EPGCMM) is to build upon participants’ existing skills in sales and marketing and provide classical and contemporary marketing decision frameworks. Also, to inculcate scientific approach to marketing practices and sharing of advanced knowledge in the area of sales, marketing and customer management.
                                </p><ul class="list-1">
                                    <li>Premier &amp; successful General Management Program from IIMC – India’s foremost business schoo</li>
                                    <li>Revised and updated course content and coverage</li>
                                    <li>Books, Cases and Study Materials included in the Course</li>
                                    <li>A new team of program directors, each from a core business area, to build in more rigour &amp; quality into the program</li>
                                    <li>Specially selected core faculty</li>
                                    <li>Quality interactions and increased peer group learning</li>
                                    <li>Specifically designed for working executives with all the flexibility benefits of Interactive Onsite Learning.</li>
                                    <li>Participants selected, based on elaborate selection process and profiling.</li>
                                    <li>Alumni Status from IIMC</li>
                                    <li>Huge alumni base from past 20&nbsp;batches have been largely benefited from this programme. Several participants have advanced their careers within and outside their organizations.</li>
                                </ul>
                            <p></p>
                            <h2>Program Benefits</h2>
                            <p>
                                Superior performance on the job, Exclusive focus on imparting relevant skills &amp; Development of career.
                                <br>
                                This executive long distance program is designed to expose participants to state of the art tools and techniques of analytics The programme coverage would include discussion on topics such as Data Mining, Soft Computing, Design of Experiments, Survey Sampling, Statistical Inference, Investment Management, Financial Modeling, Advanced marketing Research etc.The overall value gained at the end of the programme is expected to be a solid foundation in topics needed for building capabilities to take on the new form of competition.
                            </p>
                            <h2>Program Benefits</h2>
                            <p>
                                </p><ul class="list-1">
                                    <li>Superior performance on the job</li>
                                    <li>Exclusive focus on imparting managerial skills</li>
                                    <li>Development of career</li>
                                </ul>
                            <p></p>
                            <h2>Program Objective</h2>
                            <p>
                                </p><ul class="list-1">
                                    <li>Premier certification from IIM Calcutta</li>
                                    <li>Career Enhancement</li>
                                </ul>
                            <p></p>
                            <h2>Schedule</h2>
                            <p>
                                Thursday 6.45 PM -  9.45 PM &amp; Sunday 3.30 PM – 6.30 PM (But few make up classes may be held on other days)
                            </p>
                            <h2>Duration</h2>
                            <p>
                                12 months excluding campus, holidays and examinations.
                                <br>
                                There will be two campus programmes, one at the beginning and one towards the end. The 1st campus visit will be of 3 days and the 2nd campus visit will be of 5 days duration.
                            </p>
                            <h2>Who Should Attend</h2>
                            <p>
                                Middle &amp; Senior level working executives and professionals in business organizations with minimum 5 years of experience may apply for this program. The program offers quality interactions with experienced executives, and peer group learning as average experience of the participants is around 8-10 years.
                            </p>
                            <h2>Pedagogy</h2>
                            <p>
                                The pedagogy will be highly interactive. It will leverage use of technology and will consist of, depending on the subject, a judicious blend of lectures, real life case studies, quizzes and assignments.
                            </p>
                            <h2>Eligibility</h2>
                            <p>
                                </p><ul class="list-1">
                                    <li>Applicants should be working professionals/self-employed.</li>
                                    <li>Graduates (10+2+3) / post graduates in any discipline with min. 50% marks [aggregate - considering results of all years (e.g. 3 or 4 together)] recognized by UGC/AICTE.</li>
                                    <li>Minimum 5 years of work experience (full-time paid employment) post completion of graduation as on Application Closure Date.</li>
                                </ul>
                                An Entrance Test will be conducted to select eligible candidates to the programme. Candidates who qualify the above eligibility criteria will be considered for the Entrance Test. Final Selection will be made basis the candidates’ performance in the Entrance Test. No deviations to the laid out Eligibility Criteria (unless otherwise mentioned above) will be considered. For ready reference, download preparation material from
                            <p></p>
                            <h2>Desired Proficiencies in the Candidate (in addition to the Eligibility Criteria) </h2>
                            <p>
                                </p><ul class="list-1">
                                    <li>Proficiency in English since it would be the medium of instruction.</li>
                                    <li>Basic numerical ability and mathematical skills -&nbsp;including Algebra (e.g. Equation of Straight Line), Basic Differential &amp; Integral Calculus and Ability to Interpret Graphs.</li>
                                    <li>Ability to reason logically</li>
                                    <li>General awareness – including knowledge of Industry</li>
                                </ul>
                            <p></p>
                            <a ui-sref="EPBM" class="social-list">Executive Program in Business Management</a>
                            <br>
                        
        </md-content>
      </md-tab>
      <md-tab label="PROGRAM FEES">
        <md-content class="md-padding">                            <h2>Program Fees</h2>
                            <table width="50%" class="table-border-1">
                                <tbody><tr align="center" class="heading-1">
                                    <td colspan="2">For Indian Students</td>
                                </tr>
                                <tr align="center">
                                    <td>Application Fee</td>
                                    <td>INR 2,000/-</td>
                                </tr>
                                <tr align="center">
                                    <td>Program Fee</td>
                                    <td>INR 2,72,000/- + S.Tax</td>
                                </tr>
                                <tr align="center">
                                    <td>Registration Fee</td>
                                    <td>INR 6,800/- + S.Tax</td>
                                </tr>
                                <tr align="center">
                                    <td>Campus Fee</td>
                                    <td>INR 40,000/- + S.Tax</td>
                                </tr>
                                <tr align="center">
                                    <td>Total Fee (exclusive of Application Fee)</td>
                                    <td></td>
                                </tr>
                            </tbody></table>
                            <ul class="list-1">
                                <li>IIMC invests a lot to maintain high quality of program delivery. The student fee includes all the course material which is books, simulations and cases, certification and alumni membership for IIMC.</li>
                                <li>Service Tax (currently @ 14.5%) will be charged extra on these components.</li>
                                <li>All fees except “Campus Fee” is to be paid online.</li>
                                <li>Campus Fee is not included in the installment schedule below.</li>
                            </ul>
                            <h2>Important Dates</h2>
                            <table width="70%" class="table-border-1">
                                <tbody><tr align="center">
                                    <td>Last date of application</td>
                                    <td>2nd July, 2016</td>
                                </tr>
                                <tr align="center">
                                    <td>Last Date of Entrance Test</td>
                                    <td>3rd, July, 2016</td>
                                </tr>
                                <tr align="center">
                                    <td>Selection List Date</td>
                                    <td>10th July, 2016</td>
                                </tr>
                                <tr align="center">
                                    <td>Last Date for Payment of Fees</td>
                                    <td>30th July, 2016</td>
                                </tr>
                                <tr align="center">
                                    <td>Academic Briefing &amp; IIMC Class to start with the Campus Visit</td>
                                    <td>31st Aug, 2016</td>
                                </tr>
                            </tbody></table>
                            <h2>Installment Schedule</h2>
                            <table width="70%" class="table-border-1">
                                <tbody><tr align="center" class="heading-1">
                                    <td>Installment</td>
                                    <td>Date</td>
                                    <td>INR</td>
                                </tr>
                                <tr align="center">
                                    <td>1st Installment</td>
                                    <td>30th July, 2016</td>
                                    <td>(INR 73,300/- + INR 6,800/-) + S. Tax</td>
                                </tr>
                                <tr align="center">
                                    <td>2nd Installment</td>
                                    <td>30th Oct, 2016</td>
                                    <td>INR 69,420/- + S.Tax</td>
                                </tr>
                                <tr align="center">
                                    <td>3rd Installment</td>
                                    <td>30th Jan 2017</td>
                                    <td>INR 69,420/- + S.Tax</td>
                                </tr>
                                <tr align="center">
                                    <td>4th Installment</td>
                                    <td>10th April, 2017</td>
                                    <td>INR 59,860/- + S.Tax</td>
                                </tr>
                            </tbody></table>
                            <a ui-sref="EPBM" class="social-list">Executive Program in Business Management</a>
                            <br>
                        
        </md-content>
      </md-tab>
      <md-tab label="PROGRAM DETAILS">
        <md-content class="md-padding">
          <div id="tab-content3" class="tab-content">
                            <h2>Program Details</h2>
                            <p>
                                Spread over one year, the program provides the participants with skills for leadership in the knowledge economy through an innovative curriculum. Faculty from IIMC and distinguished visiting faculty from reputed academic institutions and industry handle these courses.The program curriculum focuses on equipping the participants:
                            </p>
                            <ul class="list-1">
                                <li>with an inside look at each main functional area, its purpose and role</li>
                                <li>with the ability to understand the economic and regulatory trends</li>
                                <li>learn various analytical tools and techniques that can give deeper insights in to business</li>
                                <li>with the ability to take a big picture approach quintessential for senior managers.</li>
                            </ul>
                            <p>
                                The in-campus component is held at the end of the 1-year Program. This is a crucial component covering 5 days, which provides the participants an orientation towards case based learning. It is compulsory for all participants.
                            </p>
                            <h2>Program Contents</h2>
                            <table width="50%" class="table-border-1">
                                <tbody><tr align="center">
                                    <td rowspan="7" valign="middle" class="heading-1">Term I</td>
                                    <td>Behavioural Science I</td>
                                </tr>
                                <tr align="center"><td>Behavioural Science II</td></tr>
                                <tr align="center"><td>Microeconomics</td></tr>
                                <tr align="center"><td>Macroeconomics</td></tr>
                                <tr align="center"><td>Financial Accounting</td></tr>
                                <tr align="center"><td>Cost and Management Accounting</td></tr>
                                <tr align="center"><td>Quantitative Methods for Decision-making</td></tr>
                                <tr align="center">
                                    <td rowspan="7" valign="middle" class="heading-1">Term II</td>
                                    <td>Marketing Management I</td>
                                </tr>
                                <tr align="center"><td>Marketing Management II</td></tr>
                                <tr align="center"><td>Human Resource Management</td></tr>
                                <tr align="center"><td>Operations Management</td></tr>
                                <tr align="center"><td>Corporate Finance</td></tr>
                                <tr align="center"><td>Information Technology for Competitive Advantage</td></tr>
                                <tr align="center"><td>Strategic Management</td></tr>
                            </tbody></table>
                            <a ui-sref="EPBM" class="social-list">Executive Program in Business Management</a>
                            <br>
                        </div>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>
</div>