<div class="col-md-12 service-grids">
	<img src="images/image4.jpg" style="min-width: 100%" class="img-responsive wow slideInLeft" data-wow-duration="0.1s" data-wow-delay="0.1s" alt="">
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="text-center">
				<h1  class="title">Executive Program in Global Business Management (EPGBM)</h1>
			</div>
		</div>
	</div>
</div>
<br>
<div class="container">
<div ng-cloak>
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="OVERVIEW">
        <md-content class="md-padding">
          
                           
                          <div id="tab-content7" class="tab-content">
                            <h3>Overview</h3>
                            <p>
                                Today's managers need applicable knowledge and skills to navigate their organizations through an ever-changing and dynamic global business environment irrespective of the workplace, viz., national or global. The knowledge of global perspective has become imperative for successful business. The recent global financial and economic crisis has precipitated the need for developing a repertoire of management skills that are applicable around the globe. The 12 month Executive Programme in Global Business Management is designed to contribute to global management development within the structure and systems of organizational behavior, blending management theory and tools with practical insights and participation.
                                <br><br>
                                The concept of the programme is simple and the impact far-reaching. As an individual grows within an organization it is imperative at each step forward to add-on qualifications &amp; skills that are commensurate with the role she is assigned. This program aims at people in early to middle management career who are willing to learn the latest in management thought. Participants will gain new insights from reality-based case studies, sharing and developing decision-making techniques with an influential group of peers, all brought together in the nurturing environment created by IIMC Faculty.
                                <br><br>
                                The 10th Batch of Executive Programme in Global Business Management is designed to provide managers and professionals with a broad overview of the key concepts, tools and techniques needed to successfully meet the challenges of today's global business environment. Individual courses will give participants the knowledge needed to work cross-functionally within the organization and become more skilled in the basics of managing businesses, their teams, and to a great extent, themselves.
                            </p>
                            <h3>Programme USP</h3>
                            <p>
                                The globalization of businesses is demanding a wider set of skills form its managers. The Indian job market in several industries is now putting a premium on ability of managers to handle global situations. This program is in its 8th edition now. It is a general management program offered in the online education domain. Broadly, the program develops and hones the perspective of managing in our organizations, though with some difference. Firstly, this program is uniquely positioned to educate executives about issues related to managing people and work in global organizations and businesses. Second, this program creates a differentiation in terms of focused delivery on topics related to global business management and international management. Third unique component of the program is a focused delivery on building managerial skills and developing a global mindset.
                            </p>
                            <h3>Programme Benefits</h3>
                            <p>
                                This program would give the participants a global perspective, i. e., various issues that come up and how organizations and other systems handle them.
                                <br><br>
                                The successful participants would form a set that is more equipped to handle situations of global businesses.Successful participants become IIMC-LDP alumni, which has its own sets of advantages for identity, brand value, and marketability of the participants.
                            </p>
                            <h3>Schedule</h3>
                            <p>
                                Tuesday: 6:45 – 9:45 PM; Saturday: 12:15 – 3:15 PM
                            </p>
                            <h3>Duration</h3>
                            <p>
                                The EPGBM is of one year duration.
                            </p>
                            <h3>Eligibility</h3>
                            <p>
                                </p><ul class="list-1">
                                    <li>Applicants should be working professionals/self-employed</li>
                                    <li>Graduates / Post-graduates (10+2+3) in any discipline with min. 50% marks [aggregate - considering results of all years (e.g. 3 or 4 together)] recognized by UGC/AICTE.</li>
                                    <li>Minimum 2 years and preferably below 12 years of work experience (full-time paid employment) post completion of graduation as on Application Closure Date.</li>
                                </ul>
                            <p></p>
                            <h3>Who Should Attend</h3>
                            <p>
                                Junior &amp; Middle level executives aspiring to become Global Managers.
                            </p>
                            <h3>Why should a student chose this Program &amp; not others</h3>
                            <p>
                                </p><ul class="list-1">
                                    <li>Recognized Certification from IIMC – the foremost B School in the country and reputed to be one of Asia’s finest business schools</li>
                                    <li>Over 280 hours of intensive learning intervention by renowned faculty from India &amp; abroad through online interactive lectures</li>
                                    <li>Face to face workshops with case studies and business simulations at the IIMC Campus</li>
                                    <li>Peer learning through rich student profile &amp; Networking opportunities.</li>
                                    <li>Continue earning while you gain a high quality Certification and improve eligibility for better job profiles with a recognized certification</li>
                                    <li>Competitive Price of 2.7 lacs (all inclusive) – This price for a program of this brand is not available in country today</li>
                                    <li>Alumni membership of IIMC present globally – which has its own sets of advantages for identity, brand value, and marketability of the participants</li>
                                    <li>Optional International Study Tour for Global Exposure</li>
                                </ul>
                            <p></p>
                            <h3>Pedagogy</h3>
                            <p>
                                </p><ul class="list-1">
                                    <li>Highly Interactive</li>
                                    <li>Theory &amp; Practical Inputs</li>
                                    <li>Case study approach.</li>
                                    <li>Assignments, E-Learning, &amp; Business Simulation</li>
                                </ul>
                            <p></p>
                            <h3>Selection Process</h3>
                            <p>
                                Candidates will be selected based on their performance in entrance test. Interview may be conducted.
                                <br>
                                Entrance test will ascertain the participants’ competency in English Language, Numerical Capabilities, Analytical Skills and IQ.
                            </p>
                            <h3>Student Feedback</h3>
                            <p>
                                “I feel studying in IIMC is the most prestigious moment of my life. It has helped me to build my career based on a very strong foundation of education, values and business skills which is most required in today’s competitive corporate world. The focus on case studies and the industry experience of faculty made me more practical which I find very useful in my official and personal life. The program at this business school possesses the potential to metamorphose academic skills into entrepreneurial skills. Thanks to EPGBM, I have shaped my career from where I can now take it further.""
                            </p>
                            <a href="IIMCalcutta.html#EPGBM" class="social-list">Executive Program in Global Business Management</a>
                            <br>
                        </div>
                        
        </md-content>
      </md-tab>
      <md-tab label="PROGRAM FEES">
        <md-content class="md-padding">                         
                           <div id="tab-content8" class="tab-content">
                            <h3>Program Fees</h3>
                            <table width="50%" class="table-border-1">
                                <tbody><tr align="center" class="heading-1">
                                    <td colspan="2">For Indian Students</td>
                                </tr>
                                <tr align="center">
                                    <td>Application Fee</td>
                                    <td>INR 2,000/-</td>
                                </tr>
                                <tr align="center">
                                    <td>Program Fee</td>
                                    <td>INR 2,60,000/-</td>
                                </tr>
                                <tr align="center">
                                    <td>Registration Fee</td>
                                    <td>INR 6,500/-</td>
                                </tr>
                                <tr align="center">
                                    <td>Campus Fee</td>
                                    <td>INR 40,000/-</td>
                                </tr>
                                <tr align="center">
                                    <td>Total Fee (exclusive of Application Fee)</td>
                                    <td>INR 3,06,500/-</td>
                                </tr>
                            </tbody></table>
                            <ul class="list-1">
                                <li>IIMC invests a lot to maintain high quality of program delivery. The student fee includes all the course material which is books, simulations and cases, certification and alumni membership for IIMC.</li>
                                <li>Service Tax (currently @ 15%) will be charged extra on above&nbsp;components</li>
                                <li>Any extra payment due to any change in any of the applicable taxes during the tenure of the program will have to be borne by the students</li>
                                <li>Program fees are payable online or through DD drawn in favour of “Hughes Communications India Limited”.</li>
                                <li>Campus fee is mandatory and will be payable by student directly to “Indian Institute of Management Calcutta”.</li>
                                <li>Campus fee includes Books/ Study Materials Fee for the complete program.</li>
                                <li>Fee once paid is neither refundable nor transferable towards any other student/program/batch</li>
                            </ul>
                            <h3>Important Dates</h3>
                            <table width="50%" class="table-border-1">
                                <tbody><tr align="center">
                                    <td>Application Closure Date</td>
                                    <td>24th Oct 2016</td>
                                </tr>
                                <tr align="center">
                                    <td>Last Date of Entrance Test</td>
                                    <td>25th Oct 2016</td>
                                </tr>
                                <tr align="center">
                                    <td>Last date of First installment:</td>
                                    <td>26th Nov 2016</td>
                                </tr>
                                <tr align="center">
                                    <td>Orientation and briefing</td>
                                    <td>22nd Nov 2016</td>
                                </tr>
                                <tr align="center">
                                    <td>Class Start Date</td>
                                    <td> 6th Dec 2016</td>
                                </tr>
                            </tbody></table>
                            <h3>Installment Schedule</h3>
                            <table width="70%" class="table-border-1">
                                <tbody><tr align="center" class="heading-1">
                                    <td>Installment</td>
                                    <td>Date</td>
                                    <td>INR</td>
                                </tr>
                                <tr align="center">
                                    <td>1st Installment</td>
                                    <td>21st Nov 2016</td>
                                    <td>INR 72,700/- + INR 6,500/-</td>
                                </tr>
                                <tr align="center">
                                    <td>2nd Installment</td>
                                    <td>23rd Jan 2017</td>
                                    <td>INR 72,700/-</td>
                                </tr>
                                <tr align="center">
                                    <td>3rd Installment</td>
                                    <td>24th Mar 2017</td>
                                    <td>INR 72,000/-</td>
                                </tr>
                                <tr align="center">
                                    <td>4th Installment</td>
                                    <td>22nd May 2017</td>
                                    <td>INR 42,600/-</td>
                                </tr>
                            </tbody></table>
                            <p>
                                Service Tax (currently @ 15%) will be charged extra on above components
                                <br>
                                Campus Visit Fees (with applicable tax) is mandatory and additionally is payable directly to IIM Calcutta.
                            </p>
                            <a href="IIMCalcutta.html#EPGBM" class="social-list">Executive Program in Global Business Management</a>
                            <br>
                        </div>
                        
        </md-content>
      </md-tab>
      <md-tab label="PROGRAM DETAILS">
        <md-content class="md-padding">
          <div id="tab-content3" class="tab-content">
                           
                           <div id="tab-content9" class="tab-content">
                            <h3>Program Details</h3>
                            <ul class="list-1">
                                <li>Global Business Strategy</li>
                                <li>Finance For Managers</li>
                                <li>Business Economics</li>
                                <li>Global Operations Management</li>
                                <li>Strategic Marketing</li>
                                <li>Information Technology in evolving business landscape</li>
                                <li>Human Resources Management</li>
                                <li>Organizational Behavior</li>
                                <li>Managerial Skill Development</li>
                                <li>International Business and Strategic Issues</li>
                                <li>Developing A Global Mindset</li>
                            </ul>
                            <h3>Course Structure</h3>
                            <p>
                                <b>Classroom Component:</b> This component forms the core of EPGBM. Spread over 1 year it consists of classes twice a week on the IOL.  Faculty from IIMC will take these modules.
                                <br><br>
                                <b>Campus Component:</b> The in-campus component will be held twice in the span of the 1-year Programme. This is a crucial component covering 8 days, which provides the participants an orientation towards the coveted classroom based learning through direct interaction with IIM-C faculty. It is compulsory for all participants.
                            </p>
                            <a href="IIMCalcutta.html#EPGBM" class="social-list">Executive Program in Global Business Management</a>
                            <br>
                        </div>
                        
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>
</div>