<div class="col-md-12 service-grids">
	<img src="images/image4.jpg" style="min-width: 100%" class="img-responsive wow slideInLeft" data-wow-duration="0.1s" data-wow-delay="0.1s" alt="">
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="text-center">
				<h1  class="title">Executive Post Graduate Diploma in International Business (EPGDIB)</h1>
			</div>
		</div>
	</div>
</div>
<br>
<div class="container">
<div ng-cloak>
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="OVERVIEW">
        <md-content class="md-padding">
          
                           
                          <div id="tab-content1" class="tab-content">
                            <h3>Overview</h3>
                            <p>
                                The Executive Post Graduate Diploma In International Business is a specialized Program that provides a scientific approach to business decision-making in today’s dynamic and competitive international business environment. EPGDIB provides an opportunity for middle and senior level executives to refresh and upgrade their managerial skills without interrupting their professional activities. The EPGDIB Program is specially designed to cater to those executives for whom leaving the job and the city is not a feasible option.
                            </p>
                            <h3>Programme Objective</h3>
                            <p>
                                Provides in depth understanding of international business management concepts across different functional areas. <br>
                                Equip participants with the tools and skills required for strategic decision making. <br>
                                Provide an understanding into the operational aspects of international business. 
                            </p>
                            <h3>Pedagogy</h3>
                            <p>
                                A healthy blend of both theoretical and practical Inputs. The classroom environment is designed to impart the theoretical knowledge reinforced through the case study approach. The take home assignments require the students to work on the concepts taught in the classroom. This is supplemented by lectures by industry experts on current issues and industry trends to gain the pragmatic perspective.
                            </p>
                            <h3>Programme Highlights</h3>
                            <ul class="list-1">
                                <li>Highly structured programme with pre-defined course structure, session plans, evaluations and assignment schedules On-campus sessions at the beginning of every trimester (6 days each)</li>
                                <li>Total duration of the programme is 700 hours ( Programme includes – IOL hours + On Campus sessions+ Research Papers + Port Visit + Tutorials)</li>
                                <li>Special focus on design and development of study material with a blend of theoretical and practical inputs</li>
                                <li>High level of interaction between faculty and participants and within the participants themselves</li>
                                <li>Emphasis on facilitating learning and application to business context through pre-work/ post work/tutorials and industry guest lectures</li>
                                <li>Port visit</li>
                            </ul>
                            <h3>Schedule</h3>
                            <p>
                                Saturday – 3:30 PM to 6:30 PM. <br>
                                Sunday – 9:00 AM to 3:30 PM. <br>
                                Additional sessions may be scheduled on Saturday/Sunday evenings.
                            </p>
                            <h3>Duration</h3>
                            <p>
                                The total duration of the program is 13 Months spread over 3 terms.
                            </p>
                            <h3>Eligibility</h3>
                            <p>
                                Graduation or equivalent degree from any recognized university or Institution with minimum 5 years of work experience after graduation &amp; 3 years after post graduation or engineering.
                            </p>
                            <h3>Certification</h3>
                            <p>
                                Executive Post Graduate Diploma will be awarded by IIFT to students on successful completion of the programme.
                            </p>
                            <a href="#" class="social-list">IIFT New Delhi</a>
                            <br>
                        </div>
        </md-content>
      </md-tab>
      <md-tab label="PROGRAM FEES">
        <md-content class="md-padding">                         
                         <div id="tab-content2" class="tab-content">
                            <h3>Program Fees</h3>
                            <table width="50%" class="table-border-1">
                                <tbody><tr align="center">
                                    <td colspan="2">For Indian Students</td>
                                    <td></td>
                                </tr>
                                <tr align="center">
                                    <td>Application Fee</td>
                                    <td>INR 2,000/-</td>
                                </tr>
                                <tr align="center">
                                    <td>Program Fee</td>
                                    <td>INR 3,15,000/- + S.Tax</td>
                                </tr>
                                <tr align="center">
                                    <td>Registration Fee</td>
                                    <td>INR 7,875/- + S.Tax</td>
                                </tr>
                                <tr align="center">
                                    <td>Books/Study Materials &amp; Campus Fee</td>
                                    <td>INR 15,000/-</td>
                                </tr>
                                <tr align="center">
                                    <td>Alumni Fee</td>
                                    <td>INR 10,000/-</td>
                                </tr>
                                <tr align="center">
                                    <td>Total Fee</td>
                                    <td></td>
                                </tr>
                            </tbody></table>
                            <ul class="list-1">
                                <li>All above cost doesnot include cost of the Port visit which would be borne by the participants at actuals.</li>
                                <li>Travel and stay arrangements for all on campus modules to be made by participants.</li>
                                <li>The application fee has to be paid online or DD in the name of “Hughes Communication India Ltd.” payable at New Delhi and all other fees is payable to “Indian Institute of Foreign Trade” Payable at New Delhi. (Please mention name, mobile number and program name on reverse of the Bank Draft.)</li>
                                <li>For SC/ST/PH candidates program fee &amp; application fee is 50% of amount indicated above. All other fees remain same.</li>
                                <li>Service Tax, currently @15%, is payable over and above the mentioned fee for this item. Any change in Service Tax during the tenure of the programme is to be borne by the students.</li>
                            </ul>
                            <h3>Important Dates</h3>
                            <p>
                                <b>Phase 1 - For applications received till August 2016 </b> <br>
                                Result of Selected Candidates to be uploaded on IIFT website: 9th Dec 2016 <br>
                                Last date for acceptance and payment of Rs 15,000 to block seat: 2nd Dec 2017 <br>
                                Last date for payment of balance of 1st instalment: 1st Feb 2017 <br>
                                Technical orientation Session: 4th Feb 2017 <br>
                                On campus module at IIFT Delhi: 17th Feb to 22-Feb 2017 <br>
                                <br><br>
                                Phase 2 - For applications received after November 18, 2016 <br>
                                Last date of received of applications: 30th Dec 2016 <br>
                                Result of Selected Candidates to be uploaded on IIFT website: 11th Jan 2017 <br>
                                Last date for payment of balance of 1st instalment: 1st Feb 2017 <br>
                                Technical orientation Session: 4th Feb 2017 <br>
                                On campus module at IIFT Delhi: 17th Feb  to 22nd Feb 2017
                            </p>
                            <h3>Installment Schedule</h3>
                            <table width="80%" class="table-border-1">
                                <tbody><tr align="center" class="heading-1">
                                    <td>Installment</td>
                                    <td>Date</td>
                                    <td>INR</td>
                                </tr>
                                <tr align="center">
                                    <td>1st Installment</td>
                                    <td>Will be conveyed shortly</td>
                                    <td>INR (75,000/- + 7,875/- + 25,000/-) + S.Tax</td>
                                </tr>
                                <tr align="center">
                                    <td>2nd Installment</td>
                                    <td>Will be conveyed shortly</td>
                                    <td>INR 80,000/- + S.Tax</td>
                                </tr>
                                <tr align="center">
                                    <td>3rd Installment</td>
                                    <td>Will be conveyed shortly</td>
                                    <td>INR 80,000/- + S.Tax</td>
                                </tr>
                                <tr align="center">
                                    <td>4th Installment</td>
                                    <td>Will be conveyed shortly</td>
                                    <td>INR 80,000/- + S.Tax</td>
                                </tr>
                            </tbody></table>
                            <a href="#" class="social-list">IIFT New Delhi</a>
                            <br>
                        </div>
        </md-content>
      </md-tab>
      <md-tab label="PROGRAM DETAILS">
        <md-content class="md-padding">
       <div id="tab-content3" class="tab-content">
                            <h3>Program Details</h3>
                            <table width="90%" class="table-border-1">
                                <tbody><tr align="center">
                                    <td rowspan="7" valign="middle">Term 1</td>
                                    <td>Macro Economics</td>
                                </tr>
                                <tr align="center"><td>Marketing Management</td></tr>
                                <tr align="center"><td>Business Economics</td></tr>
                                <tr align="center"><td>Business Statistics</td></tr>
                                <tr align="center"><td>Global Business Environment</td></tr>
                                <tr align="center"><td>Accounting for Managers</td></tr>
                                <tr align="center"><td>IT Applications in Management</td></tr>
                                <tr align="center">
                                    <td rowspan="8" valign="middle">Term 2</td>
                                    <td>HRM</td>
                                </tr>
                                <tr align="center"><td>International Marketing</td></tr>
                                <tr align="center"><td>Financial Management</td></tr>
                                <tr align="center"><td>Supply Chain Management</td></tr>
                                <tr align="center"><td>International Trade Operations and Documentation</td></tr>
                                <tr align="center"><td>International Economics</td></tr>
                                <tr align="center"><td>Strategic Management</td></tr>
                                <tr align="center"><td>(BS)Business Ethics- Seminar Paper</td></tr>
                                <tr align="center">
                                    <td rowspan="5" valign="middle">Term 3</td>
                                    <td>International Business Strategy</td>
                                </tr>
                                <tr align="center"><td>International Financial Management</td></tr>
                                <tr align="center"><td>Management of Global Sourcing</td></tr>
                                <tr align="center"><td>International Trade Logistics</td></tr>
                                <tr align="center"><td>Managing Change &amp; Transformation- Seminar Paper</td></tr>
                                <tr align="center">
                                    <td rowspan="9" valign="middle">Electives <br>(List of Electives is only indicative;<br> 5 electives will be offered based on batch preference)</td>
                                    <td>Services Marketing</td>
                                </tr>
                                <tr align="center"><td>Mergers and Acquisitions</td></tr>
                                <tr align="center"><td>Sectoral Strategies</td></tr>
                                <tr align="center"><td>Market Access Issues</td></tr>
                                <tr align="center"><td>WTO and Regional Trade</td></tr>
                                <tr align="center"><td>International Brand Management</td></tr>
                                <tr align="center"><td>Trade Analytics</td></tr>
                                <tr align="center"><td>Digital Marketing</td></tr>
                                <tr align="center"><td>Cross Cultural Management</td></tr>
                                <tr align="center">
                                    <td rowspan="2" valign="middle">Other Components</td>
                                    <td>Research Project</td>
                                </tr>
                                <tr align="center"><td>Port Visit</td></tr>
                            </tbody></table>
                            <p>*Course list is indicative only</p>
                            <a href="EPGDIB" class="social-list">IIFT New Delhi</a>
                            <br>
                        </div>
                        
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>
</div>