<div class="col-md-12 service-grids">
	<img src="images/image4.jpg" style="min-width: 100%" class="img-responsive wow slideInLeft" data-wow-duration="0.1s" data-wow-delay="0.1s" alt="">
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="text-center">
				<h1  class="title">Executive Post Graduate Diploma in Management (EPGDM)</h1>
			</div>
		</div>
	</div>
</div>
<br>
<div class="container">
<div ng-cloak>
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="OVERVIEW">
        <md-content class="md-padding">
          
                           
                         <div id="tab-content1" class="tab-content">
                            <h3>Overview</h3>
                            <p>
                                Executive Post Graduate Diploma in Management (EPGDM) is a two-year post graduate diploma programme offered on Interactive Onsite Learning (IOL) platform. The objective of the programme is to impart management education to working executives seeking skills and strategies to take their organizations to the next level.The course with over 840 classroom instruction is designed to cater to the requirements of a cross-section of industry, enabling participants to share their rich and diverse experiences among themselves in addition to having the classroom learning. The Programme intends to enable its participants to :
                                </p><ul class="list-1">
                                    <li>Broaden and enrich their managerial skills to leverage on the growing opportunities.</li>
                                    <li>Enhance their analytical abilities in tune with the evolving business complexities.</li>
                                    <li>Develop a comprehensive and holistic understanding of business management and its varied functions to attain professional success commensurate with the full individual potential.</li>
                                    <li>Acquire decisional and leadership capabilities required for their career growth and professional progress against the changing business environment and growing global integration.</li>
                                    <li>Strengthen strategic thinking skills so as to become and remain successful top managers and CEOs.</li>
                                </ul>
                            <p></p>
                            <h3>Program Objective</h3>
                            <p>
                                </p><ul class="list-1">
                                    <li>Post graduate diploma in management from IIM Rohtak.</li>
                                    <li>Career Enhancement</li>
                                </ul>
                            <p></p>
                            <h3>Programme USP</h3>
                            <p>
                                </p><ul class="list-1">
                                    <li>Post graduate diploma from IIMR</li>
                                    <li>Learning from the best faculty in India and Industry Experts</li>
                                    <li>Well researched &amp; up-to-date Course Content</li>
                                    <li>Rigorous Programme Structure with over 840 hours</li>
                                    <li>Assessments for every course</li>
                                    <li>Case studies and simulations</li>
                                    <li>Option to specialize in management area of choice</li>
                                    <li>Continue earning while you gain a high quality Certification and improve eligibility for better job profiles with a recognized certification</li>
                                    <li>Alumni membership of IIMR</li>
                                </ul>
                            <p></p>
                            <h3>Schedule</h3>
                            <p>
                                Between 2-3 days every week as per the schedule mutually decided. Exceptions shall be mutually agreed upon in case of scheduling difficulties.
                            </p>
                            <h3>Duration</h3>
                            <p>
                               2 Years
                            </p>
                            <h3>Pedagogy</h3>
                            <p>
                                </p><ul class="list-1">
                                    <li>Theory &amp; Practical Inputs.</li>
                                    <li>Case study approach.</li>
                                    <li>Assignments, E-Learning, &amp; Business Simulation.</li>
                                </ul>
                            <p></p>
                            <h3>Eligibility</h3>
                            <p>
                                </p><ul class="list-1">
                                    <li>Applicants should be working professionals/self-employed.</li>
                                    <li>Graduates (10+2+3) / Post Graduates in any discipline with min. 50% marks [aggregate - considering results of all years (e.g. 3 or 4 together)] recognized by UGC/AICTE.</li>
                                    <li>Minimum 3 years of work experience (full-time paid employment) post completion of graduation as on Application Closure Date.</li>
                                </ul>
                            <p></p>
                            <h3>Selection Criteria</h3>
                            <p>
                                </p><ul class="list-1">
                                    <li>Retail Applications + credentials and Corporate Nominations</li>
                                    <li>Applicants will be selected based on performance in the Entrance Test and interviews</li>
                                    <li>Selection will be: i) Highly Selective ii) Selective iii) Moderate</li>
                                </ul>
                            <p></p>
                            <h3>Who Should Attend:</h3>
                            <p>
                                </p><ul class="list-1">
                                    <li>Those wanting to build a career in management: working executives keen on paying a higher price for the brand</li>
                                    <li>The programme offers quality interactions with experienced executives, and peer group learning.</li>
                                </ul>
                            <p></p>
                            <a href="IIMRohtak.html#EPGDM" class="social-list">Executive Post Graduate Diploma in Management</a>
                            <br>
                        </div>        </md-content>
      </md-tab>
      <md-tab label="PROGRAM FEES">
        <md-content class="md-padding">                         
                         <div id="tab-content2" class="tab-content">
                            <h3>Program Fees</h3>
                            <table width="50%" class="table-border-1">
                                <tbody><tr align="center" class="heading-1">
                                    <td colspan="2">For Indian Students</td>
                                </tr>
                                <tr align="center">
                                    <td>Application Fee</td>
                                    <td>INR 2,200/-</td>
                                </tr>
                                <tr align="center">
                                    <td>Program Fee</td>
                                    <td>INR 5,02,200/-</td>
                                </tr>
                                <tr align="center">
                                    <td>Registration Fee</td>
                                    <td></td>
                                </tr>
                                <tr align="center">
                                    <td>Campus Fee</td>
                                    <td>INR 60,200/- &amp; Facilitation Charges : INR 40,200/-</td>
                                </tr>
                                <tr align="center">
                                    <td>Total Fee</td>
                                    <td>INR 6,02,600/- (Excluding Application Fee)</td>
                                </tr>
                            </tbody></table>

                            <h3>Important Dates</h3>
                            <table width="50%" class="table-border-1">
                                <tbody><tr align="center">
                                    <td>Last date of application</td>
                                    <td>20th July 2016</td>
                                </tr>
                                <tr align="center">
                                    <td>Entrance Date</td>
                                    <td>25th July, 2016</td>
                                </tr>
                                <tr align="center">
                                    <td>Date of Interview</td>
                                    <td>1st August, 2016</td>
                                </tr>
                                <tr align="center">
                                    <td>Declaration of the list of eligible candidates</td>
                                    <td>4th August, 2016</td>
                                </tr>
                                <tr align="center">
                                    <td>First installment of fees (Last date)</td>
                                    <td>24th August, 2016</td>
                                </tr>
                            </tbody></table>
                            <h3>Installment Details</h3>
                            <table width="50%" class="table-border-1">
                                <tbody><tr align="center" class="heading-1">
                                    <td>Installment</td>
                                    <td>Date</td>
                                    <td>Amount INR</td>
                                    <td>Amount USD</td>
                                </tr>
                                <tr align="center">
                                    <td>1st Installment</td>
                                    <td>Aug 2016</td>
                                    <td>INR 1,50,650/-</td>
                                    <td>USD 5,030/-</td>
                                </tr>
                                <tr align="center">
                                    <td>2nd Installment</td>
                                    <td>Feb 2017</td>
                                    <td>INR 1,50,650/-</td>
                                    <td>USD 5,030/-</td>
                                </tr>
                                <tr align="center">
                                    <td>3rd Installment</td>
                                    <td>Aug 2017</td>
                                    <td>INR 1,50,650/-</td>
                                    <td>USD 5,030/-</td>
                                </tr>
                                <tr align="center">
                                    <td>4th Installment</td>
                                    <td>Feb 2018</td>
                                    <td>INR 1,50,650/-</td>
                                    <td>USD 5,030/-</td>
                                </tr>
                            </tbody></table>
                            <a href="IIMRohtak.html#EPGDM" class="social-list">Executive Post Graduate Diploma in Management</a>
                            <br>
                        </div>
        </md-content>
      </md-tab>
      <md-tab label="PROGRAM DETAILS">
        <md-content class="md-padding">
       <div id="tab-content3" class="tab-content">
                            <h3>Program Details</h3>
                            <table width="50%" class="table-border-1">
                                <tbody><tr align="center">
                                    <td rowspan="12" valign="middle">Term 1.1</td>
                                    <td>On-campus General Orientation</td>
                                </tr>
                                <tr align="center"><td>Foundations of Management</td></tr>
                                <tr align="center"><td>Financial Accounting</td></tr>
                                <tr align="center"><td>Managerial Communication I</td></tr>
                                <tr align="center"><td>IT Systems I</td></tr>
                                <tr align="center"><td>Quantitative Methods I</td></tr>
                                <tr align="center"><td>Marketing Management I</td></tr>
                                <tr align="center"><td>Organisational Behaviour</td></tr>
                                <tr align="center"><td>Legal Aspects of Business</td></tr>
                                <tr align="center"><td>Managerial Economics</td></tr>
                                <tr align="center"><td>Management Accounting</td></tr>
                                <tr align="center"><td>Quantitative Methods II</td></tr>

                                <tr align="center">
                                    <td rowspan="10" valign="middle">Term 1.2</td>
                                    <td>Macroeconomics Strategic Management</td>
                                </tr>
                                <tr align="center"><td>IT Systems II MIS</td></tr>
                                <tr align="center"><td>Financial Management</td></tr>
                                <tr align="center"><td>Socioeconomic Transformation of India</td></tr>
                                <tr align="center"><td>Marketing Management II</td></tr>
                                <tr align="center"><td>Business Ethics</td></tr>
                                <tr align="center"><td>Operations Management</td></tr>
                                <tr align="center"><td>Human Resource Management</td></tr>
                                <tr align="center"><td>Managerial Communication II</td></tr>
                                <tr align="center"><td>Integrative Project</td></tr>
                            </tbody></table>
                            <a href="IIMRohtak.html#EPGDM" class="social-list">Executive Post Graduate Diploma in Management</a>
                            <br>
                        </div>
                        
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>
</div>