<div class="col-md-12 service-grids">
	<img src="images/image4.jpg" style="min-width: 100%" class="img-responsive wow slideInLeft" data-wow-duration="0.1s" data-wow-delay="0.1s" alt="">
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="text-center">
				<h1  class="title">Executive Program In International Business (EPIB)</h1>
			</div>
		</div>
	</div>
</div>
<br>
<div class="container">
<div ng-cloak>
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="OVERVIEW">
        <md-content class="md-padding">
          
                           
                          <div id="tab-content16" class="tab-content">
                            <h6>Overview</h6>
                            <p>
                                IIM Calcutta has been at the forefront of executive education for the last three decades and has been widely acclaimed for the various innovative and customized programs it has introduced over the years based on its front line teaching, research and consulting.
                                <br><br>
                                Executive Programme in International Business is one such specialized management programme to keep pace with today’s requirement where globalization, internet and hyper competition has dramatically re-shaped the markets and has changed the way business is being done. Today, one has to keep pace with the customer’s requirement and has to bring in services and products as per global standards. The Programme has been specially designed to help students acquire knowledge and skill to help work in International companies and environment. This executive long distance programme is designed to expose participants to the latest management concepts and practices.  The programme covers aspects related to International Business Environment, Challenges in International Marketing &amp; Sales, International Operations, International Logistics and Supply Chain etc.
                            </p>
                            <h6>Alignment with LDP Mission and Goals</h6>
                            <p>
                                The course is fully aligned with the LDP mission and goals on all the counts mentioned in the LDP documents.
                            </p>
                            <h6>Pedagogy</h6>
                            <p>
                                The pedagogy will be highly interactive. It will leverage use of technology and consist of a judicious blend of lectures, real life case studies, quizzes and assignments.
                            </p>
                            <h6>Course Structure</h6>
                            <p>
                                This Classroom component forms the core of h3.
                                The in-campus component is held either at the beginning, during or end of the 1 year Program. This is a crucial component covering 4 days/5 nights.
                            </p>
                            <h6>The Program will help the participant to understand</h6>
                            <p>
                                </p><ul class="list-1">
                                    <li>The challenges in today’s International Business Scenarios and identify them</li>
                                    <li>The roles and responsibilities of an International Business Manager</li>
                                    <li>The International aspects towards Logistics &amp; Supply Chain Management, International Marketing &amp; Sales, International Finance</li>
                                    <li>The Cross culture differences and understand different International markets</li>
                                    <li>Global Economic Developments and their impact</li>
                                    <li>International Trade</li>
                                </ul>
                            <p></p>
                            <h6>Programme USP</h6>
                            <p>
                                </p><ul class="list-1">
                                    <li>Premier &amp; successful International Business Programme from IIMC – India’s foremost business school</li>
                                    <li>Revised and updated course content and coverage</li>
                                    <li>Books, Cases and Study Materials included in the Course</li>
                                    <li>A new team of programme directors, each from the core business area, to build in more rigour &amp; quality into the program</li>
                                    <li>Specially selected core faculty with special inputs from International faculty and industry experts</li>
                                    <li>Quality interactions and increased peer group learning</li>
                                    <li>Specifically designed for working executives with all the flexibility benefits of Interactive Onsite Learning.</li>
                                    <li>Participants selected, based on elaborate selection process and profiling.</li>
                                    <li>Alumni Status from IIMC – Huge alumni base from past batches have been largely benefited from this programme.&nbsp; Several participants have advanced their careers within and outside their organizations.</li>
                                    <li>Optional International Visit</li>
                                </ul>
                            <p></p>
                            <h6>Programme Benefits</h6>
                            <p>
                                Superior performance on the job, Exclusive focus on imparting managerial skills &amp; Development of career
                            </p>
                            <h6>Program Objectives:</h6>
                            <p>
                                Premier certification from IIM Calcutta
                                <br>
                                Career Enhancement
                            </p>
                            <h6>Why should a student chose this Program &amp; not others</h6>
                            <p>
                                </p><ul class="list-1">
                                    <li>Recognized Certification from IIMC – the foremost B School in the country and reputed to be one of Asia’s finest business schools</li>
                                    <li>Special inputs from International Faculty &amp; industry Experts, which is not being offered by any other IB programmes in the market presently.</li>
                                    <li>Rigorous Programme Structure with assessments for every course</li>
                                    <li>Competitive Price of less than 2.4 lacs (all inclusive) – This price for a program of this brand is not available in country today</li>
                                    <li>Learning from the best faculty Industry Experts in India and abroad</li>
                                    <li>Alumni membership of IIMC present globally – which has its own sets of advantages for identity, brand value, and marketability of the participants</li>
                                    <li>Peer learning through rich student profile &amp; Networking opportunities.</li>
                                </ul>
                            <p></p>
                            <h6>Schedule</h6>
                            <p>
                                Classes will be conducted on Wednesday: 6:45pm to 9:45pm &amp; Saturday: 3:30pm to 6:30pm
                            </p>
                            <h6>Duration</h6>
                            <p>
                                h3 is of 1 year duration.
                            </p>
                            <h6>Evaluation Methodology</h6>
                            <p>
                                An examination will be held for every course. To complete the Program successfully participants will need to pass in all subjects (including projects) and acquire a minimum of “average” grade (out of four grades, namely, “Excellent”, “Good”, “Average” and “Poor”). Candidates successfully completing the Program will get a completion certificate and grade sheet from IIMC.
                            </p>
                            <h6>Certification</h6>
                            <p>
                                IIM Calcutta shall carry out the examination and evaluation required for certification. IIM Calcutta will directly award a certificate to participants who complete the program successfully. Giving feedback is an integral part of the completion requirements of the Program.
                            </p>
                            <h6>Who Should Attend</h6>
                            <p>
                                Junior &amp; Middle level executives looking forward to making a career in International Business.
                            </p>
                            <h6>Eligibility</h6>
                            <p>
                                </p><ul class="list-1">
                                    <li>Applicants should be working professionals/self-employed with minimum 2 years of work experience</li>
                                    <li>Graduates (10+2+3) / Post Graduates in any discipline with min. 50% marks [aggregate- considering results of all years (e.g. 3 or 4 together)] recognized by UGC/AICTE.</li>
                                </ul>
                            <p></p>
                            <h6>Desired Proficiencies in the Candidate (in addition to the Eligibility Criteria) </h6>
                            <p>
                                </p><ul class="list-1">
                                    <li>Proficiency in English since it would be the medium of instruction.</li>
                                    <li>Basic numerical ability and mathematical skills .</li>
                                    <li>Ability to reason logically .</li>
                                    <li>General awareness – including knowledge of Industry .</li>
                                </ul>
                            <p></p>
                            <a href="IIMCalcutta.html#h3" class="social-list">Executive Program In International Business</a>
                            <br>
                        </div>
                        
        </md-content>
      </md-tab>
      <md-tab label="PROGRAM FEES">
        <md-content class="md-padding">                         
                           <div id="tab-content17" class="tab-content">
                            <h6>Program Fees</h6>
                            <table width="50%" class="table-border-1">
                                <tbody><tr align="center" class="heading-1">
                                    <td colspan="2">For Indian Students</td>
                                </tr>
                                <tr align="center">
                                    <td>Application Fee</td>
                                    <td>INR 2,000/-</td>
                                </tr>
                                <tr align="center">
                                    <td>Program Fee</td>
                                    <td>INR 1,85,000/- + Service Tax</td>
                                </tr>
                                <tr align="center">
                                    <td>Registration Fee</td>
                                    <td>INR 4,625/- + Service Tax</td>
                                </tr>
                                <tr align="center">
                                    <td>Campus Fee</td>
                                    <td>INR 30,000/- + Service Tax</td>
                                </tr>
                                <tr align="center">
                                    <td>Total Fee</td>
                                    <td> INR 2,19,625/-</td>
                                </tr>
                            </tbody></table>
                            <p>
                                IIMC invests a lot to maintain high quality of program delivery. The student fee includes all the course material which is books, simulations and cases, certification and alumni membership for IIMC.
                            </p>
                            <ul class="list-1">
                                <li>Program fees are payable online or through Demand Draft drawn in favour of “Hughes Communications India Limited”</li>
                                <li>Campus fee is mandatory and will be payable by student directly to “Indian Institute of Management Calcutta”.</li>
                                <li>Campus fee includes Books/ Study Materials Fee for the complete program.</li>
                                <li>Total Fee exclusive of Application Fee.</li>
                            </ul>
                            <h6>Important Dates</h6>
                            <table width="50%" class="table-border-1">
                                <tbody><tr align="center">
                                    <td>Last Date of Application:</td>
                                    <td>10th Jan, 2016 (if required)</td>
                                </tr>
                                <tr align="center">
                                    <td>Last date of 1st installment</td>
                                    <td>2nd February 2016</td>
                                </tr>
                                <tr align="center">
                                    <td>Orientation and briefing</td>
                                    <td>5th Feb, 2016</td>
                                </tr>
                                <tr align="center">
                                    <td>Class Start Date:</td>
                                    <td>TBD</td>
                                </tr>
                            </tbody></table>
                            <h6>Installment Schedule</h6>
                            <table width="70%" class="table-border-1">
                                <tbody><tr align="center" class="heading-1">
                                    <td>Installment</td>
                                    <td>Date</td>
                                    <td>INR</td>
                                </tr>
                                <tr align="center">
                                    <td>1st Installment</td>
                                    <td>2nd Feb 2016</td>
                                    <td>INR 96,473/-</td>
                                </tr>
                                <tr align="center">
                                    <td>2nd Installment</td>
                                    <td>28th Apr 2016</td>
                                    <td>INR 74,100/-</td>
                                </tr>
                                <tr align="center">
                                    <td>3rd Installment</td>
                                    <td>22 Jul 2016</td>
                                    <td>INR 45,600/-</td>
                                </tr>
                            </tbody></table>
                            <p>Installment amounts inclusive of taxes. Does not include campus fees.</p>
                            <a href="IIMCalcutta.html#h3" class="social-list">Executive Program In International Business</a>
                            <br>
                        </div>
                        
        </md-content>
      </md-tab>
      <md-tab label="PROGRAM DETAILS">
        <md-content class="md-padding">
         <div id="tab-content18" class="tab-content">
                            <h6>Program Details</h6>
                            <ul class="list-1">
                                <li>1. &nbsp;Global Trade &amp; Business Environment</li>
                                <li>2. &nbsp;Cost and Management Accounting for Global Business</li>
                                <li>3. &nbsp;International Logistics and Supply Chain Management</li>
                                <li>4. &nbsp;Data Analytics and Decision Making for Business</li>
                                <li>5. &nbsp;International Human Resource Management</li>
                                <li>6. &nbsp;International Economics</li>
                                <li>7. &nbsp;Financial Strategy &amp; Risk Management for Global Business</li>
                                <li>8. &nbsp;Legal &amp; Regulatory Environment of International Business</li>
                                <li>9. &nbsp;International Marketing</li>
                                <li>10. &nbsp;International Management Behavior</li>
                                <li>11. &nbsp;Designing Effective Global Organizations</li>
                                <li>12. &nbsp;Strategic Management</li>
                                <li>13. &nbsp;Capstone Project</li>
                            </ul>
                            <p>
                                Note: Students will have to undertake a capstone project during the course. The project should be undertaken under a faculty guide and a report must be submitted to IIM Calcutta through the faculty guide at the end of the course.
                            </p>
                            <a href="IIMCalcutta.html#h3" class="social-list">Executive Program In International Business</a>
                            <br>
                        </div>
                        
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>
</div>