<div class="col-md-12 service-grids">
	<img src="images/image4.jpg" style="min-width: 100%" class="img-responsive wow slideInLeft" data-wow-duration="0.1s" data-wow-delay="0.1s" alt="">
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="text-center">
				<h1  class="title">Executive Programme in Leadership & Management (EPLM)</h1>
			</div>
		</div>
	</div>
</div>
<br>
<div class="container">
<div ng-cloak>
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="OVERVIEW">
        <md-content class="md-padding">
          
                           
                         <div id="tab-content22" class="tab-content">
                            <h3>Overview</h3>
                            <p>
                                Businesses across the globe are forced to address increasingly complex problems, adapt to rapid changes in technology, work across disciplines, produce more with limited resources and respond to almost continuous change through periodic reorganization and continuing innovation.
                                <br><br>
                                These demands have significantly increased the need for managers to think strategically and to work effectively in collaborative relationships - dyads, teams, and partnerships to realize their strategies.
                                <br><br>
                                The course aims to develop strategic thinking and implementation skills among managers who are already in or are going to be in general management roles. Thus, it aims to develop an appreciation of the concepts of corporate strategy. It also aims to develop an appreciation of the strategic issues facing an organization. Finally it also aims to develop leadership skills to steer successful strategy formulation and implementation.
                                <br><br>
                                This programme was earlier named as PLAM. It has been renamed as EPLM with the 6th batch.
                            </p>
                            <h3>Highlights</h3>
                            <p>
                                Prestigious certification from IIMC <br>
                                Face to face workshops with Case studies, content and business simulations at the IIMC Campus <br>
                                Renowned faculty from India &amp; Abroad for online interactive lectures
                            </p>
                            <h3>Programme USP</h3>
                            <p>
                                </p><ul class="list-1">
                                    <li>Recognized Certification from the foremost B School in the country</li>
                                    <li>Learning from the best faculty in India and Industry Experts</li>
                                    <li>Special inputs from International Faculty and accredited International Institute</li>
                                    <li>Well researched &amp; up-to-date Course Content</li>
                                    <li>Rigorous Programme Structure with assessments for every course</li>
                                    <li>Case studies and simulations</li>
                                    <li>Continue earning while you gain a high quality Certification and improve eligibility for better job profiles with a recognized certification</li>
                                    <li>Alumni membership of IIMC present globally – which has its own sets of advantages for identity, brand value, and marketability of the participants</li>
                                </ul>
                            <p></p>
                            <h3>Eligibility</h3>
                            <p>
                                </p><ul class="list-1">
                                    <li>Applicants should be working professionals/self-employed</li>
                                    <li>Graduates (10+2+3) in any discipline with min. 50% marks [aggregate - considering results of all years (e.g. 3 or 4 together)] recognized by UGC/AICTE.</li>
                                    <li>Minimum 10 years of work experience (full-time paid employment) post completion of graduation as on Application Closure Date</li>
                                </ul>
                            <p></p>
                            <h3>Schedule</h3>
                            <p>
                                Wednesday 6:45 PM to 9:45 PM
                            </p>
                            <h3>Duration</h3>
                            <p>
                                9 Months
                            </p>
                            <a href="IIMCalcutta.html#EPLM" class="social-list">Executive Programme in Leadership &amp; Management</a>
                            <br>
                        </div>
                        
        </md-content>
      </md-tab>
      <md-tab label="PROGRAM FEES">
        <md-content class="md-padding">                         
                           <div id="tab-content23" class="tab-content">
                            <h3>Program Fees</h3>
                            <table width="50%" class="table-border-1">
                                <tbody><tr align="center" class="heading-1">
                                    <td colspan="2">For Indian Students</td>
                                </tr>
                                <tr align="center">
                                    <td>Application Fee</td>
                                    <td>INR 2,000/-</td>
                                </tr>
                                <tr align="center">
                                    <td>Program Fee</td>
                                    <td>Rs. 1,40,000/- + S.Tax</td>
                                </tr>
                                <tr align="center">
                                    <td>Registration Fee</td>
                                    <td>Rs. 3,500/- + S.Tax</td>
                                </tr>
                                <tr align="center">
                                    <td>1st Campus Visit Fee ( 4 days)</td>
                                    <td>Rs. 24,000/- + S.Tax</td>
                                </tr>
                                <tr align="center">
                                    <td>2nd Campus Visit Fee ( 3 days)</td>
                                    <td>Rs. 18,000/- + S.Tax</td>
                                </tr>
                                <tr align="center">
                                    <td>Total Fee (Excluding Application Fees)</td>
                                    <td>INR 1,85,500/-</td>
                                </tr>
                            </tbody></table>
                            <ul class="list-1">
                                <li>Fees mentioned above are exclusive of Service Tax</li>
                                <li>Service Tax (currently @ 15%) will be charged extra on these components</li>
                                <li>Any extra payment due to any change in any of the applicable taxes during the tenure of the program will have to be borne by the students</li>
                                <li>All Fees are payable by student directly to HGEIL, unless otherwise specified</li>
                            </ul>
                            <h3>Important Dates</h3>
                            <table width="50%" class="table-border-1">
                                <tbody><tr align="center">
                                    <td>Last Date of Application:</td>
                                    <td>25th July , 2016</td>
                                </tr>
                                <tr align="center">
                                    <td>Last date of 1st installment</td>
                                    <td>10th August , 2016</td>
                                </tr>
                                <tr align="center">
                                    <td>Technical Orientation and briefing</td>
                                    <td>8th August , 2016</td>
                                </tr>
                                <tr align="center">
                                    <td>Class Start Date with Campus:</td>
                                    <td>11th August 2016</td>
                                </tr>
                            </tbody></table>
                            <h3>Installment Schedule</h3>
                            <table width="70%" class="table-border-1">
                                <tbody><tr align="center" class="heading-1">
                                    <td>Installment</td>
                                    <td>Date</td>
                                    <td>INR</td>
                                </tr>
                                <tr align="center">
                                    <td>1st Installment</td>
                                    <td>10th Aug, 2016</td>
                                    <td>INR 55,600/- + INR 3,500/- + S.Tax</td>
                                </tr>
                                <tr align="center">
                                    <td>2nd Installment</td>
                                    <td>10th Nov, 2016</td>
                                    <td>INR 42,700/- + S.Tax</td>
                                </tr>
                                <tr align="center">
                                    <td>3rd Installment</td>
                                    <td>10th  Jan, 2017</td>
                                    <td>INR 41,700/- + S.Tax</td>
                                </tr>
                            </tbody></table>
                            <a href="IIMCalcutta.html#EPLM" class="social-list">Executive Programme in Leadership &amp; Management</a>
                            <br>
                        </div>
                        
        </md-content>
      </md-tab>
      <md-tab label="PROGRAM DETAILS">
        <md-content class="md-padding">
         <div id="tab-content24" class="tab-content">
                            <h3>Program Details</h3>
                            <table width="90%" class="table-border-1">
                                <tbody><tr align="center">
                                    <td rowspan="3" valign="middle">Module 1: Understanding Strategy</td>
                                    <td>Understanding Strategy</td>
                                </tr>
                                <tr align="center"><td>&nbsp;Understanding Competition</td></tr>
                                <tr align="center"><td>&nbsp;Industry Change and Shifting Advantage</td></tr>
                                <tr align="center">
                                    <td rowspan="3" valign="middle">Module 2: Understanding Organization – I</td>
                                    <td>&nbsp;Introduction and Motivating People</td>
                                </tr>
                                <tr align="center"><td>&nbsp;Understanding Groups and Teams</td></tr>
                                <tr align="center"><td>&nbsp;Leadership</td></tr>
                                <tr align="center">
                                    <td rowspan="9" valign="middle">Module 3: Understanding Financials</td>
                                    <td>Introduction to Corporate Finance</td>
                                </tr>
                                <tr align="center"><td>Introduction to valuation</td></tr>
                                <tr align="center"><td>Valuation of stocks and bonds</td></tr>
                                <tr align="center"><td>Risk and return</td></tr>
                                <tr align="center"><td>Cost of capital</td></tr>
                                <tr align="center"><td>Making capital investment decision</td></tr>
                                <tr align="center"><td>Working Capital Management</td></tr>
                                <tr align="center"><td>Financial Statement Analysis</td></tr>
                                <tr align="center"><td>Planning &amp; Control Systems</td></tr>
                                <tr align="center">
                                    <td rowspan="3" valign="middle">Module 4: Strategy and Competitive Advantage</td>
                                    <td>Competitive Advantage</td>
                                </tr>
                                <tr align="center"><td>Competitive Positioning and Strategy</td></tr>
                                <tr align="center"><td>Core Competence and Diversification</td></tr>
                                <tr align="center">
                                    <td rowspan="3" valign="middle">Module 5: Understanding Organization – II</td>
                                    <td>Organizations, their purpose and effectiveness</td>
                                </tr>
                                <tr align="center"><td>The Organization and its Structure</td></tr>
                                <tr align="center"><td>&nbsp;Organizational Design: Basic Concepts and Challenges</td></tr>
                                <tr align="center">
                                    <td rowspan="3" valign="middle">Module 6: International Management</td>
                                    <td>International Economic Environment</td>
                                </tr>
                                <tr align="center"><td>International Investment and Strategy</td></tr>
                                <tr align="center"><td>Strategy and Structure for Global Operations</td></tr>
                                <tr align="center">
                                    <td rowspan="3" valign="middle">Module 7: Strategic Leadership</td>
                                    <td>Strategy &amp; Structure</td>
                                </tr>
                                <tr align="center"><td>Organizing Around Opportunities</td></tr>
                                <tr align="center"><td>Managing Strategic Change &amp; Organizational Identity</td></tr>
                                <tr align="center">
                                    <td rowspan="1" valign="middle">Module 8: Managing Assets</td>
                                    <td></td>
                                </tr>
                                <tr align="center">
                                    <td rowspan="4" valign="middle">Module 9: Skill Building for Strategy</td>
                                    <td>Power and Politics</td>
                                </tr>
                                <tr align="center"><td>Organizational Change</td></tr>
                                <tr align="center"><td>Creative Problem Solving</td></tr>
                                <tr align="center"><td>Networking and Influencing</td></tr>
                            </tbody></table>
                            <h3>Pedagogy</h3>
                            <ul class="list-1">
                                <li>Theory &amp; Practical Inputs</li>
                                <li>Case study approach.</li>
                                <li>Assignments, E-Learning, &amp; Business Simulation</li>
                            </ul>
                            <h3>Assessment &amp; Evaluation</h3>
                            <p>
                                Assessments: Assignments
                                <br>
                                Evaluation: Evaluation shall be conducted by the institute. There would be a comprehensive project to be submitted before the end of the programme. Four grades, namely, Excellent, Good, Average and Poor, would be awarded.Certification: IIMC shall carry out the examination and evaluation required for certification. It will award the certificate of successful completion to participants who complete the programme successfully.
                            </p>
                            <a href="IIMCalcutta.html#EPLM" class="social-list">Executive Programme in Leadership &amp; Management</a>
                            <br>
                        </div>
                        
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>
</div>