<div class="col-md-12 service-grids">
	<img src="images/image4.jpg" style="min-width: 100%" class="img-responsive wow slideInLeft" data-wow-duration="0.1s" data-wow-delay="0.1s" alt="">
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="text-center">
				<h1  class="title">Executive Program in Sales & Marketing (EPSM)</h1>
			</div>
		</div>
	</div>
</div>
<br>
<div class="container">
<div ng-cloak>
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="OVERVIEW">
        <md-content class="md-padding">
          
                          <div id="tab-content10" class="tab-content">
                            <h3>Overview</h3>
                            <p>
                                The Program is specially designed for individuals wishing to pursue a career in Sales &amp; Marketing. The program provides basic understanding of contemporary approaches to acquiring, retaining and growing business with various stakeholders in the market in an efficient and effective manner. The Program would help participants in developing broad understanding of emerging Sales &amp; Marketing frameworks and their relationships with other business functions to grow in the market and will also focus on ‘cutting edge’ issues concerning sales and marketing practices including brand, services, distribution channel management and people management issues. The program faculty will focus on synergy between in-field practice and in-class learning. The program would also provide opportunities for specialized focus on Sales Management for Pharmaceutical, Banking and Financial services, FMCG Industries along with Industrial Sales.
                                <br>
                                The program will help the participant to:
                                </p><ul class="list-1">
                                    <li>Understand &amp; identify the challenges in today’s market place</li>
                                    <li>Understand the Conceptual frameworks in sales and marketing</li>
                                    <li>Understand Customer and Market Orientation for business success</li>
                                    <li>Understanding the roles and responsibilities of a manager dealing with sales and/or marketing</li>
                                    <li>Be able to learn how to manage, motivate and lead sales and marketing teams</li>
                                    <li>Understand the fundamentals of channel design and development</li>
                                </ul>
                            <p></p>
                            <h3>Programme USP</h3>
                            <p>
                                </p><ul class="list-1">
                                    <li>Premier &amp; successful General Management Program from IIMC – India’s foremost business school</li>
                                    <li>Revised and updated course content and coverage</li>
                                    <li>Books, Cases and Study Materials included in the Course</li>
                                    <li>A new team of program directors, each from a core business area, to build in more rigor &amp; quality into the program</li>
                                    <li>Specially selected core faculty of the institute and faculty from abroad.</li>
                                    <li>Quality interactions and increased peer group learning</li>
                                    <li>Specifically designed for working executives with all the flexibility benefits of Interactive Onsite Learning.</li>
                                    <li>Participants selected, based on elaborate selection process and profiling.</li>
                                    <li>Alumni Status from IIMC</li>
                                    <li>Huge alumni base from past 15 batches have been largely benefited from this program. Several participants have advanced their careers within and outside their organizations.</li>
                                </ul>
                            <p></p>
                            <h3>Selection Criteria</h3>
                            <p>
                                Applications with Credentials &amp; Corporate Nominations followed by an Entrance Test.
                            </p>
                            <h3>Schedule</h3>
                            <p>
                                Thursdays 6:45 PM – 9:45 PM; Sundays 3:30 PM – 6:30 PM
                            </p>
                            <h3>Duration</h3>
                            <p>
                                1 year
                                Total hours : 180 hours on IOL + 7 days on Campus
                                Frequency : Level 1 – Twice a Week; Level 2 – Once or Twice a Week (depending on the module)
                            </p>
                            <h3>Who Should Attend</h3>
                            <p>
                                Junior &amp; Middle level executives looking to making a career in Sales and Marketing in Pharma, FMCG, Banking &amp; Financial Services, Industrial products etc.
                            </p>
                            <h3>Eligibility</h3>
                            <p>
                                </p><ul class="list-1">
                                    <li>Applicants should be working professionals/self-employed.</li>
                                    <li>Graduates/Post graduate degrees recognized by UGC/AICTE in any discipline with min. 50% marks [aggregate - considering results of all years (e.g. 3 or 4 together)] in either or both graduation/post graduation.</li>
                                    <li>Minimum 2 years of work experience (full-time paid employment) post completion of Graduation as on Application Closure Date.</li>
                                    <li>Selection will be based on entrance test.</li>
                                </ul>
                            <p></p>
                            <h3>Certification</h3>
                            <p>
                                IIM Calcutta shall carry out the examination and evaluation required for certification. IIM Calcutta will directly award a certificate of completion to participants who complete the programme successfully. Giving feedback on the programme is an integral part of the completion requirements of the programme.
                            </p>
                            <a href="IIMCalcutta.html#EPSM" class="social-list">Executive Program in Sales &amp; Marketing</a>
                            <br>
                        </div>
                        
        </md-content>
      </md-tab>
      <md-tab label="PROGRAM FEES">
        <md-content class="md-padding">                         
                           <div id="tab-content11" class="tab-content">
                            <h3>Program Fees</h3>
                            <table width="50%" class="table-border-1">
                                <tbody><tr align="center" class="heading-1">
                                    <td colspan="2">For Indian Students</td>
                                </tr>
                                <tr align="center">
                                    <td>Application Fee</td>
                                    <td>INR 2,000/-</td>
                                </tr>
                                <tr align="center">
                                    <td>Program Fee</td>
                                    <td>INR 1,60,000/- + Service Tax</td>
                                </tr>
                                <tr align="center">
                                    <td>Registration Fee</td>
                                    <td>INR 4,000/- + Service Tax</td>
                                </tr>
                                <tr align="center">
                                    <td>Campus Fee</td>
                                    <td>INR 35,000/- + Service Tax</td>
                                </tr>
                                <tr align="center">
                                    <td>Total Fee (exclusive of Application Fee)</td>
                                    <td></td>
                                </tr>
                            </tbody></table>
                            <ul class="list-1">
                                <li>Program fees are payable online or through DD drawn in favour of “Hughes Communications India Limited”.</li>
                                <li>Campus fees will be payable by student directly to “Indian Institute of Management Calcutta”.</li>
                                <li>Campus fees will be communicated at the time of Induction.</li>
                                <li>Fee once paid is neither refundable nor transferable towards any other student/program/batch.</li>
                                <li>Service tax will be charged at prevailing rates (currently 14.5%).</li>
                            </ul>
                            <h3>Important Dates</h3>
                            <table width="50%" class="table-border-1">
                                <tbody><tr align="center">
                                    <td>Application Closure Date</td>
                                    <td> 9th March 2016</td>
                                </tr>
                                <tr align="center">
                                    <td>Last Date for Payment of Fees</td>
                                    <td>5th April 2016</td>
                                </tr>
                                <tr align="center">
                                    <td>Academic Briefing</td>
                                    <td>14th April 2016</td>
                                </tr>
                                <tr align="center">
                                    <td>Class Start Date:</td>
                                    <td>April 2016</td>
                                </tr>
                            </tbody></table>
                            <h3>Installment Schedule</h3>
                            <table width="70%" class="table-border-1">
                                <tbody><tr align="center" class="heading-1">
                                    <td>Installment</td>
                                    <td>Date</td>
                                    <td>INR</td>
                                </tr>
                                <tr align="center">
                                    <td>1st Installment</td>
                                    <td>As per Offer Letter</td>
                                    <td>INR 65,000/- + INR 4,000/- + S.Tax</td>
                                </tr>
                                <tr align="center">
                                    <td>2nd Installment</td>
                                    <td>28th June 2016</td>
                                    <td>INR 55,000/- + S.Tax</td>
                                </tr>
                                <tr align="center">
                                    <td>3rd Installment</td>
                                    <td>20th Sep 2016</td>
                                    <td>INR 40,000/- + S.Tax</td>
                                </tr>
                            </tbody></table>
                            <a href="IIMCalcutta.html#EPSM" class="social-list">Executive Program in Sales &amp; Marketing</a>
                            <br>
                        </div>
                        
        </md-content>
      </md-tab>
      <md-tab label="PROGRAM DETAILS">
        <md-content class="md-padding">
          <div id="tab-content3" class="tab-content">
                           
                           <div id="tab-content12" class="tab-content">
                            <h3>Program Details</h3>
                            <table width="80%" class="table-border-1">
                                <tbody><tr align="center">
                                    <td rowspan="2" valign="middle">Level 1: General Management for Marketing</td>
                                    <td>Module 1: Fundamentals of Management</td>
                                </tr>
                                <tr align="center"><td>Module 2: People Skills for Sales &amp; Marketing Professionals</td></tr>
                                <tr align="center">
                                    <td rowspan="8" valign="middle">Level 2: Specialized Modules in Marketing</td>
                                    <td>Module 3: Marketing Management</td>
                                </tr>
                                <tr align="center"><td>Module 4: Market Research</td></tr>
                                <tr align="center"><td>Module 5: Consumer Behaviour</td></tr>
                                <tr align="center"><td>Module 6: Sales &amp; Distribution Management</td></tr>
                                <tr align="center"><td>Module 7: Product , Brand &amp; Services Management</td></tr>
                                <tr align="center"><td>Module 8: Marketing Strategy</td></tr>
                                <tr align="center"><td>Module 9: Integrated Marketing Communications</td></tr>
                                <tr align="center"><td>Module 10: International Marketing</td></tr>
                            </tbody></table>
                            <a href="IIMCalcutta.html#EPSM" class="social-list">Executive Program in Sales &amp; Marketing</a>
                            <br>
                        </div>
                        
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>
</div>