<div class="col-md-12 service-grids">
	<img src="images/image4.jpg" style="min-width: 100%" class="img-responsive wow slideInLeft" data-wow-duration="0.1s" data-wow-delay="0.1s" alt="">
</div>

<div class="container">

	<div class="row">
		<div class="col-md-12">
			<div class="text-center">
				<h1  class="title">Executive Programs</h1>
			</div>
		</div>
	</div>
	<br>
	<table width="95%" class="table-border-1" id="ProgramChart">
		<tbody><tr align="center">
			<td rowspan="5" valign="middle">General  Management Courses</td>
			<td>IIM Rohtak</td>
			<td><a ui-sref="EPGDM">Executive Post Graduate Diploma in Management</a></td>
		</tr>
		<tr align="center"><td>XLRI Jamshedpur</td><td><a ui-sref="PGCBM">Post Graduate Certificate in Business Management</a></td></tr>
		<tr align="center"><td>IIM Calcutta</td><td><a ui-sref="EPBM">Executive Program in Business Management </a></td></tr>
		<tr align="center"><td>IIM Calcutta</td><td><a ui-sref="EPYM">Executive Program for Young Managers</a></td></tr>
		<tr align="center"><td>IIM Calcutta</td><td><a ui-sref="EPGBM">Executive Program in Global Business Management</a></td></tr>
		<tr align="center">
			<td rowspan="3" valign="middle">Sales and Marketing Courses</td>
			<td>IIM Kozhikode</td>
			<td><a ui-sref="EPGCMM">Executive Post Graduate Certificate in Marketing Management</a></td>
		</tr>
		<tr align="center"><td>IIM Calcutta</td><td><a ui-sref="EPSM">Executive Program in Sales &amp; Marketing</a></td></tr>
		<tr align="center"><td>IIM Rohtak</td><td><a ui-sref="CSM">Certificate Program In Consumer Sales Management</a></td></tr>
		<tr align="center">
			<td rowspan="2" valign="middle">Human Resource Management Courses</td>
			<td>XLRI Jamshedpur</td>
			<td><a ui-sref="PGCHRM">Post Graduate Certificate in Human Resource Management</a></td>
		</tr>
		<tr align="center"><td>IIM Calcutta</td><td><a ui-sref="EPHRM">Executive Program in Human Resource Management</a></td></tr>
		<tr align="center">
			<td rowspan="3" valign="middle">International Business Courses</td>
			<td>IIFT NewDelhi</td>
			<td><a ui-sref="EPGDIB">Executive Post Graduate Diploma in International Business</a></td>
		</tr>
		<tr align="center"><td>IIM Calcutta</td><td><a ui-sref="EPIB">Executive Program In International Business</a></td></tr>
		<tr align="center"><td>IIM Calcutta</td><td><a ui-sref="EPBMI">Executive Program in Business Management - International</a></td></tr>
		<tr align="center">
			<td rowspan="1" valign="middle">Logistics &amp; Supply Chain Management Courses</td>
			<td>IIM Rohtak</td>
			<td><a ui-sref="CPRSCSM">Certificate Program In Retail Supply Chain And Service Management</a></td>
		</tr>
		<tr align="center">
			<td rowspan="1" valign="middle">Senior Management Courses</td>
			<td>IIM Calcutta</td>
			<td><a ui-sref="EPLM">Executive Programme in Leadership &amp; Management</a></td>
		</tr>
		<tr align="center">
			<td rowspan="1" valign="middle">Business Analytics Courses</td>
			<td>IIM Calcutta</td>
			<td><a ui-sref="EPBA">Executive Programme in Business Analytics</a></td>
		</tr>
		<tr align="center">
			<td rowspan="1" valign="middle">Strategic Management Courses</td>
			<td>IIM Kozhikode</td>
			<td><a ui-sref="EPGCSM">Executive Post Graduate Certificate in Strategic Management</a></td>
		</tr>
		<tr align="center">
			<td rowspan="1" valign="middle">Customer Service Management Courses</td>
			<td>IIM Rohtak</td>
			<td><a ui-sref="CPCSM">Certificate Program In Customer Service Management</a></td>
		</tr>
	</tbody></table>
</div>
