<div class="col-md-12 service-grids">
	<img src="images/image4.jpg" style="min-width: 100%" class="img-responsive wow slideInLeft" data-wow-duration="0.1s" data-wow-delay="0.1s" alt="">
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="text-center">
				<h1  class="title">Post Graduate Certificate in Human Resource Management (PGCHRM)</h1>
			</div>
		</div>
	</div>
</div>
<br>
<div class="container">
<div ng-cloak>
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="OVERVIEW">
        <md-content class="md-padding">
          
                           
                          <div id="tab-content4" class="tab-content">
                            <h3>Overview</h3>
                            <p>
                                The need for management education in today’s world for effective performance is a foregone conclusion. While experience might have been the backbone of effective performance in the corporate world of yesterday, knowledge and continuous learning is the mainstay amongst the best organizations of today. In order to satisfy this thirst for knowledge and to become a learning organization, XLRI has evolved a 12 months consolidated program in Human Resources Management.
                            </p>
                            <h3>Course Objective</h3>
                            <p>
                                To give participants an understanding of problems and issues in the field of Human Resource Management. <br>
                                To learn the critical elements of Human Resource Management processes. <br>
                                To equip participants with the required depth and balance of technical and managerial knowledge that will enable them to function successfully in their chosen field.
                            </p>
                            <h3>Program Objective</h3>
                            <p>
                                Premier certification from XLRI <br>
                                Career Enhancement
                            </p>
                            <h3>Programme USP</h3>
                            <p>
                                </p><ul class="list-1">
                                    <li>Premier &amp; successful Human Resources Management Program from XLRI – one of India’s foremost business schools</li>
                                    <li>Revised and updated course content and coverage</li>
                                    <li>Books, Cases and Study Materials included in the Course</li>
                                    <li>Specially selected core faculty, each from a core business area, to build in more rigour &amp; quality into the program</li>
                                    <li>Quality interactions and increased peer group learning</li>
                                    <li>Specifically designed for working executives with all the flexibility benefits of Interactive Onsite Learning.</li>
                                    <li>Participants selected, based on elaborate selection process and profiling.</li>
                                    <li>Alumni Status from XLRI</li>
                                    <li>Huge alumni base from past 13 batches have been largely benefited from this program. Several participants have advanced their careers within and outside their organizations.</li>
                                </ul>
                            <p></p>
                            <h3>Schedule</h3>
                            <p>
                                Monday – 6:45 pm To 9:45 pm
                                Wednesday -6.45 pm To 9.45 pm
                            </p>
                            <h3>Duration</h3>
                            <p>
                                1 Year
                            </p>
                            <h3>Eligibility</h3>
                            <p>
                                Applicants should be working professionals/self-employed. <br>
                                Must possess minimum of 2 years of work experience in related field after completing graduation. <br>
                                Full Time Degree Graduates (10+2+3) in any discipline, recognized by UGC/AICTE.
                            </p>
                            <h3>Whom should Attend</h3>
                            <p>
                                Executives and professionals in business organizations, interested to pursue a career in the HR domain, may apply for this program. The program offers quality interactions with experienced executives, and peer group learning as average experience of the participants is around 5 years.
                            </p>
                            <h3>Core Value</h3>
                            <ul class="list-1">
                                <li>Recognized certification coming from a reputed institute like XLRI</li>
                                <li>XLRI is among the top 10 Indian B-schools &amp; a pioneer in starting the program of this kind not only in India but in Asia-Pacific.</li>
                                <li>Over 4000 working professionals have benefited so far from this program of XLRI - participants have advanced their careers within and outside their organizations.</li>
                                <li>One of the most rigorous and quality online programs in the country in management</li>
                                <li>Quality interactions with experienced executives and peer group learning as average experience of the participants in last few batches have been 5+ years</li>
                                <li>Campus component of one week in the beautiful and advanced XLRI Campus in Jamshedpur.</li>
                                <li>Specifically designed for working executives with all the flexibility benefits of Interactive Onsite Learning.</li>
                                <li>Participants selected based on elaborate selection process including SOP, academic performance, job responsibility and interviews etc.</li>
                            </ul>
                            <h3>Admission Criteria &amp; Profile Desired</h3>
                            <ul class="list-1">
                                <li>Academic Record</li>
                                <li>Years and Quality of work experience.</li>
                                <li>Personal Interviews to be conducted by XLRI faculty using Hughes Global Education Interactive Onsite Learning Platform</li>
                            </ul>
                            <p>
                                Candidates who qualify the above eligibility criteria will be selected into the program. No deviations to the laid out Eligibility Criteria will be considered. The desired candidate for the program would ideally have a good work experience (around 5 years) with a strong academic background. Proficiency in English is desired in the candidate since it would be the medium of instruction. The candidate must also have the drive to learn and imbibe the teachings of the program.
                            </p>
                            <h3>Certification</h3>
                            <p>
                                The examination and evaluation required for certification shall be carried out XLRI Jamshedpur. The faculty members teaching their respective courses will choose the method of evaluation most appropriate to the material. The certificate will be awarded directly by XLRI Jamshedpur. Successful Candidates will be offered Alumni status.
                            </p>
                            <a href="XLRIJamshedpur.html#PGCBM" class="social-list">Post Graduate Certificate in Business Management</a>
                            <br>
                        </div>
        </md-content>
      </md-tab>
      <md-tab label="PROGRAM FEES">
        <md-content class="md-padding">                         
                          <div id="tab-content5" class="tab-content">
                            <h3>Program Fees</h3>
                            <table width="50%" class="table-border-1">
                                <tbody><tr align="center">
                                    <td colspan="2">For Indian Students</td>
                                    <td></td>
                                </tr>
                                <tr align="center">
                                    <td>Application Fee</td>
                                    <td>INR 2,000/- + service tax</td>
                                </tr>
                                <tr align="center">
                                    <td>Program Fee</td>
                                    <td>INR 1,90,000/- + service tax</td>
                                </tr>
                                <tr align="center">
                                    <td>Campus Fee</td>
                                    <td>INR 35,000/- + Service Tax</td>
                                </tr>
                                <tr align="center">
                                    <td>Total Fee</td>
                                    <td>INR 2,25,000/- (exclusive of Application Fee)</td>
                                </tr>
                            </tbody></table>
                            <p>
                                Books / Study Materials and Campus Fees together amounting to INR 35,000/- should be payable to XLRI on or before 15th September, 2016.
                            </p>
                            <ul class="list-1">
                                <li>All fees to be paid in favour of “XLRI JAMSHEDPUR”</li>
                                <li>A deferred payment schedule is also available</li>
                            </ul>
                            <h3>Important Dates</h3>
                            <table width="50%" class="table-border-1">
                                <tbody><tr align="center">
                                    <td>Last date of application</td>
                                    <td>23rd April, 2016</td>
                                </tr>
                                <tr align="center">
                                    <td>Date of Interview</td>
                                    <td>9th May-18th May, 2016</td>
                                </tr>
                                <tr align="center">
                                    <td>First installment of fees (Last date)</td>
                                    <td>15th June, 2016</td>
                                </tr>
                                <tr align="center">
                                    <td>Induction Date</td>
                                    <td>24th June, 2016</td>
                                </tr>
                            </tbody></table>
                            <h3>Installment Schedule</h3>
                            <table width="50%" class="table-border-1">
                                <tbody><tr align="center" class="heading-1">
                                    <td>Installment</td>
                                    <td>Date</td>
                                    <td>INR</td>
                                </tr>
                                <tr align="center">
                                    <td>1st Installment</td>
                                    <td>15th June, 2016</td>
                                    <td>INR 60,000/-</td>
                                </tr>
                                <tr align="center">
                                    <td>2nd Installment</td>
                                    <td>15th Sep, 2016</td>
                                    <td>INR 35,000/-</td>
                                </tr>
                                <tr align="center">
                                    <td>3rd Installment</td>
                                    <td>15th Dec, 2016</td>
                                    <td>INR 65,000/-</td>
                                </tr>
                                <tr align="center">
                                    <td>4th Installment</td>
                                    <td>15th Mar, 2017</td>
                                    <td>INR 65,000/-</td>
                                </tr>
                            </tbody></table>
                            <p>Please Note: All fees mentioned above are exclusive of Service Tax. Service Tax at the rate of 14.5% will be applicable on the fees mentioned above. Any change in Service Tax or any other applicable taxes during the tenure of the programme needs to be borne by the student.</p>
                            <a href="XLRIJamshedpur.html#PGCBM" class="social-list">Post Graduate Certificate in Business Management</a>
                            <br>
                        </div>
        </md-content>
      </md-tab>
      <md-tab label="PROGRAM DETAILS">
        <md-content class="md-padding">
        <div id="tab-content6" class="tab-content">
                            <h3>Program Details</h3>
                            <ul class="list-1">
                                <li>Introduction to Personnel Management</li>
                                <li>Introduction to Industrial Relations</li>
                                <li>Labour Laws</li>
                                <li>Performance Appraisal and Management</li>
                                <li>Training and Development</li>
                                <li>Employee Compensation System</li>
                                <li>Collective Bargaining</li>
                                <li>Competency Based HR</li>
                                <li>Individual Behavior in Organization</li>
                                <li>Group Behavior in Organization</li>
                                <li>Organizational Change and Development</li>
                                <li>Organizational Structure and Design</li>
                                <li>Cross Cultural Management</li>
                                <li>Managerial Counseling</li>
                                <li>Strategic Human Resource Management</li>
                                <li>Financial Management for HRM</li>
                                <li>Marketing Management for HRM</li>
                                <li>Social Research Methods</li>
                                <li>Operations Strategy for HRM</li>
                                <li>Human Resource Information System</li>
                                <li>Project Work (Optional only for eligible students)</li>
                            </ul>
                            <a href="XLRIJamshedpur.html#PGCBM" class="social-list">Post Graduate Certificate in Business Management</a>
                            <br>
                        </div>
                        
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>
</div>